﻿<header id="header" data-ng-include="'template/header.html'"></header>
<aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>

<section id="main1" class="top-half-buffer">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->

    <section id="content">
 
            <div class="white-box" ng-controller="cijListCtrl">
                <div class="card-body card-padding">

                    <div class="row">
                            <div class="col-md-2">
                                <h4>CIJ List</h4>
                            </div>
                        <div class="col-md-1">
                            &nbsp;
                        </div>
                            <div class="col-md-9 pull-right form-group">
                                <div class="col-md-4" style="text-align: right;padding-top: 5px;">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" ng-change="searchTable(searchKeyword);" ng-model="searchKeyword" type="text" placeholder="Search">                                
                                </div>
                                <div class="col-md-5" style="text-align: right;padding-top: 5px;">
                                    <div class="col-md-3">
                                        <label class="radio-inline">
                                            <input class="mt1" type="radio" ng-model="statusFilter" value="ALL" ng-change="cijListFilter(statusFilter)" />All
                                        </label>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="radio-inline">
                                            <input class="mt1" type="radio" ng-model="statusFilter" value=0 ng-change="cijListFilter(statusFilter)" />Medical
                                        </label>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="radio-inline">
                                            <input class="mt1" type="radio" ng-model="statusFilter" value=1 ng-change="cijListFilter(statusFilter)" />Non Medical
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-md-2  padding0">
                                        <button title="Create CIJ" role="button" ng-click="goToCIJ(0)" class="btn btn-primary btn-new-look pull-right">Create CIJ</button>
                                    </div>

                                </div>
                           
       
                        </div>
                        <div class="row" style="margin-top:20px">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-hover listcij" style="background-color:#f5f5f5;margin-left: 20px;" datatable="ng" dt-options="vm.dtOptions" dt-instance="vm.dtInstance">
                                    <thead>
                                        <tr class="listcij">
                                            <th class="listcij"></th>
                                            <th class="listcij">CIJ Code</th>
                                            <th class="listcij">CIJ Type</th>
                                            <th class="listcij">ASSET TYPE</th>
                                            <th class="listcij">APPROX COST</th>
                                            <th class="listcij">Total COST</th>
                                            <th class="listcij">REQUESTED BY</th>
                                            <th class="listcij">WF STATUS</th>
                                            <th class="listcij">CIJ STATUS</th>
                                            <th class="textcenter">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat-start="cij in cijList.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))" class="listcij">

                                            <td style="line-height:20px;" class="listcij">
                                                <a role="button" ng-hide="cij.expanded" ng-click="cij.expanded = true;GetItemsList(cij.cijID, 'CIJ', ($index + ((currentPage-1)*itemsPerPage)));" title="More Details"><i class="fa fa-plus-square expandplus" style="font-size:20px;color:green;line-height:1px" aria-hidden="true"></i></a>
                                                <a role="button" ng-hide="!cij.expanded" ng-click="cij.expanded = false" title="Hide Details"><i class="fa fa-minus-square expandminus" style="font-size:20px;color:red;line-height:1px" aria-hidden="true"></i></a>
                                            </td>

                                            <td class="listcij">
                                                <a ng-click="goToCIJ(cij.cijID)" role="button">{{cij.cijCode}}</a>
                                            </td>

                                            <td class="listcij">
                                                {{cij.cijTypeName}}
                                            </td>

                                            <td class="listcij">
                                                {{cij.cijassetTypeName}}
                                            </td>

                                            <td class="listcij">
                                                {{cij.cij.approximateCostRange}}
                                            </td>

                                            <td class="listcij">
                                                {{cij.cij.proposedTotallInvestment.totalCost}}
                                            </td>
                                            <td>
                                                {{cij.requestedBy}}
                                            </td>
                                            <td class="listcij">
                                                {{cij.status}} {{cij.currentApproverName == '' || cij.currentApproverName == null || cij.currentApproverName == undefined  ?'':'By'}} {{cij.currentApproverName}}
                                            </td>
                                            <td class="listcij text-center">
                                                <!--<label>{{cij.isValid>0?'Active':'CANCELLED'}}</label>-->
                                               
                                                <div class="col-md-10">
                                                  
                                                <textarea type="text" ng-model="cij.userStatus" class="form-control" style="resize:vertical;" rows="1"></textarea>
                                                </div>
                                                <div class="col-md-2">
                                                    <a role="button" ng-click="SaveUserStatus('CIJ', cij.cijID, cij.userStatus);">save</a>
                                                </div>
                                            </td>

                                            <td class="text-center listcij" style="line-height:20px;">
                                                <div class="row">
                                                    <i ng-if="item.poID > 0" title="View PO" ng-click="goToViewPo(item, item.poID)" class="fa fa-address-card-o" aria-hidden="true"></i>
                                                    <i ng-if="isCustomer && item.poID > 0" title="Edit PO" ng-click="goToVendorPo(item, item.poID)" class="fa fa-edit" aria-hidden="true"></i>
                                                    <a ng-if="item.poLink > 0 && item.poID > 0" target="_blank " href="FileDownload.aspx?attachid={{item.poLink}}&sessionid={{sessionID}}">
                                                        <i class="fa fa-download" aria-hidden="true"></i>
                                                    </a>
                                                    <i title="Dispatch History" ng-if="item.poLink > 0 && item.poID > 0" ng-click="goToDispatchTrack(item.poID, 0);" class="fa fa-history" aria-hidden="true"></i>
                                                    <i ng-if="!isCustomer && item.poID > 0" title="New Dispatch" ng-click="goToDispatchTrackForm(item.poID, 0)" class="fa fa-plus-square" aria-hidden="true"></i>
                                                    <i title="Edit CIJ" ng-click="goToCIJ(cij.cijID)" class="fa fa-edit" aria-hidden="true" style="line-height:4px"></i>
                                                    <i title="Cancel" class="fa fa-ban" aria-hidden="true" ng-show="cij.isValid>0" ng-click="cancelCIJ(cij, 0)" style="line-height:4px"></i>
                                                    <i title="Enable" class="fa fa-check" aria-hidden="true" ng-show="cij.isValid<=0" ng-click="cancelCIJ(cij, 1)" style="line-height:4px"></i>

                                                </div>
                                            </td>
                                        </tr>
                                        <tr ng-repeat-end ng-if="cij.expanded">
                                            <td colspan="11">
                                                <table class="table listcij_lg listcij1" style="background-color:#ffffff;">
                                                    <thead class="listcij_lg">
                                                        <tr style="width:100%;" class=" dl-horizontal">
                                                            <th style="width:5%;text-align:center" class="listcij_lg"> Sl.No </th>
                                                            <th style="width:5%;text-align:center" class="listcij_lg"> Budget Code</th>
                                                            <th style="width:15%;text-align:center" class="listcij_lg"> material description</th>
                                                            <th style="width:12%;text-align:center" class="listcij_lg"> Make/model </th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> E.QTY FUNCT </th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> E.QTY NON-FUNCT </th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> Required Qty</th>
                                                            <th style="width:10%;text-align:center" class="listcij_lg"> Units</th>
                                                            <th style="width:15%;text-align:center" class="listcij_lg"> Purpose of Material</th>
                                                        </tr>
                                                    </thead>

                                                    <tr ng-repeat="item in cij.ItemsList track by $index">
                                                        <td>{{$index + 1}}</td>
                                                        <td ng-if="!item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.bcInfo.budgetCode" name="budgetCode" id="budgetCode" class="form-control fg-input" ng-disabled="true" style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="!item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorMaterialDescription"><textarea type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                        <!--<td ng-if="!item.isErrorMaterialDescription"><input type="text" ng-model="item.materialDescription" name="materialDescription" id="materialDescription" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>-->
                                                        <td><textarea type="text" ng-model="item.makeModel" name="makeModel" id="makeModel" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td><input type="number" placeholder="Functional" ng-model="item.existFunctional" name="existFunctional" id="existFunctional" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td><input type="number" placeholder="Non-Functional" ng-model="item.existNonFunctional" name="existNonFunctional" id="existNonFunctional" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="!item.isErrorRequiredQuantity"><input type="number" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="item.isErrorRequiredQuantity"><input type="number" style="border:1px solid #ff0000" ng-model="item.requiredQuantity" name="requiredQuantity" id="requiredQuantity" class="form-control fg-input" ng-disabled="true||isEditDisable" required></td>
                                                        <td ng-if="!item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorMaterialUnits"><textarea type="text" ng-model="item.units" name="materialUnits" id="materialUnits" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                        <td ng-if="!item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;" rows="1"></textarea></td>
                                                        <td ng-if="item.isErrorPurposeOfMaterial"><textarea type="text" ng-model="item.purposeOfMaterial" name="purposeOfMaterial" id="purposeOfMaterial" class="form-control fg-input" ng-disabled="true||isEditDisable" required style="resize: vertical;border:1px solid #ff0000;" rows="1"></textarea></td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr ng-show="cijList.length==0" class="listcij">
                                            <td colspan="10" align="center" class="listcij">
                                                No data available
                                            </td>
                                        </tr>
                                    </tbody>

                                </table>

                                <ul ng-show="totalItems > itemsPerPage" uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                            </div>
                        </div>
                    </div>
            </div>
       
    </section>
</section>