﻿<header id="header" data-current-skin={{mactrl.currentSkin}} data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">

        <div class="container" data-ng-controller="replacementIndentCtrl">
            <div class="card">

                <div class="card-header">
                    <h4 style="text-align:center;"><strong>Capital Investment Justification (REPLACEMENT) </strong></h4>
                </div>


                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Asset Type </h5>
                                    </tr>
                                </table>
                            </td>

                            <td>
                                <table class="col-md-12">
                                    <tr class="col-md-6">
                                        <td class="col-md-12"> Medical <input type="checkbox" name="medical" value="true" /> </td>
                                    </tr>
                                    <tr class="col-md-6">
                                        <td> Non-Medical <input type="checkbox" name="nonmedical" value="true" /></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Asset Category </h5>
                                    </tr>
                                </table>
                            </td>

                            <td>
                                <table class="col-md-12">
                                    <tr class="col-md-6">
                                        <td class="col-md-12"> Revenue Generating <input type="checkbox" name="revenue" value="true" /> </td>
                                    </tr>
                                    <tr class="col-md-6">
                                        <td> value Adding <input type="checkbox" name="revenue" value="true" /> </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Department Name </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="deptname" name="deptname" id="deptname" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> HOD Name </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="hodname" name="hodName" id="hodName" class="form-control fg-input" required>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Purpose </h5>
                                    </tr>
                                </table>
                            </td>

                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Specifications </h5>
                                    </tr>
                                </table>
                            </td>


                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5>Need</h5>
                                    </tr>
                                </table>
                            </td>

                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Proposed Suppliers </h5>
                                    </tr>
                                </table>
                            </td>

                            <td>
                                <table style="background-color:#f5f5f5">
                                    <tr>
                                        <td>
                                            <textarea ng-model="proposedsuppliers" name="proposedsuppliers" rows="2" id="proposedsuppliers" class="fg-input form-control " style="resize: both;  width:200%;"></textarea>
                                        </td>
                                        <td width="200"></td>
                                        <td>
                                            <textarea ng-model="proposedsuppliers1" name="proposedsuppliers1" rows="2" id="proposedsuppliers1" class="fg-input form-control " style="resize: both;  width:200%;"></textarea>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <textarea ng-model="ProposedDescription" name="proposedDescription" rows="2" id="ProposedDescription" class="fg-input form-control " style="resize: both; width:200%;"></textarea>
                                        </td>
                                        <td></td>
                                        <td>
                                            <textarea ng-model="ProposedDescription1" name="proposedDescription1" rows="2" id="ProposedDescription1" class="fg-input form-control " style="resize: both;  width:200%;"></textarea>
                                        </td>
                                    </tr>

                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> No. of Existing Equipment </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="equipment" name="equipment" id="equipment" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Approximate Cost Range </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="costRange" name="costRange" id="costRange" class="form-control fg-input" required>
                            </td>
                        </tr>
                    </tbody>
                </table>


                <div class="card-header">
                    <h4 style="text-align:center;"> Proposed Total Investment </h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Basic Equipment Cost </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="eqCost" name="eqCost" id="eqCost" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Accessories Cost </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="accCost" name="accCost" id="accCost" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5>Installation Cost </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="InstCost" name="InstCost" id="InstCost" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Any Other Cost </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="OthCost" name="OthCost" id="OthCost" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Total Cost </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="totCost" name="totCost" id="totCost" class="form-control fg-input" required>
                            </td>
                        </tr>
                    </tbody>
                </table>



                <div class="card-header">
                    <h4 style="text-align:center;">  Payback Period Analysis(Incase of Revenue Generate Equipment) </h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Expected No of Procedures Per Month </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="paybackmonth" name="paybackmonth" id="paybackmonth" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Proposed Tariff Per Procedure </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="paybackProcedure" name="paybackProcedure" id="paybackProcedure" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5>Approximate Running Cost per Month</h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="paybackApprmonth" name="paybackApprmonth" id="paybackApprmonth" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5>Payback Period</h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="paybackPeriod" name="paybackPeriod" id="paybackPeriod" class="form-control fg-input" required>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="card-header">
                    <h4 style="text-align:center;">  value Addition To The Patient(Incae of Non-Revenue Generate Equipment) </h4>
                </div>

                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Patient Outcome </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="patientOutcome" name="patientOutcome" id="patientOutcome" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Patient Safety </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="patientSafety" name="patientSafety" id="patientSafety" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Operational Efficiency </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="OperEfficiency" name="OperEfficiency" id="OperEfficiency" class="form-control fg-input" required>
                            </td>
                        </tr>

                    </tbody>
                </table>


                <div class="card-header">
                    <h4 style="text-align:center;">  Value Addition (Incase of Non-Medical Equipment) </h4>
                </div>



                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Cost Reduction </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model=" costReduction" name="costReduction" id="costReduction" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Operational Efficiency </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model=" operEfficiency" name="operEfficiency" id="operEfficiency" class="form-control fg-input" required>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Increase In Employee Productivity </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="EmplProductivity" name="EmplProductivity" id="EmplProductivity" class="form-control fg-input" required>
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5>  </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                Requested By
                            </td>
                            <td>
                                Recommended By
                            </td>
                        </tr>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Name </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="reqName" name="reqName" id="reqName" class="form-control fg-input" required>
                            </td>
                            <td>
                                <input type="text" ng-model="recName" name="recName" id="recName" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Signature </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="reqSign" name="reqSign" id="reqSign" class="form-control fg-input" required>
                            </td>
                            <td>
                                <input type="text" ng-model="recSign" name="recSign" id="recSign" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Date </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="reqDate" name="reqDate" id="reqDate" class="form-control fg-input" required>
                            </td>
                            <td>
                                <input type="text" ng-model="recDate" name="recDate" id="recDate" class="form-control fg-input" required>
                            </td>
                        </tr>


                    </tbody>
                </table>



                <div class="card-header">
                    <h4 style="text-align:center;">  Assessed and Approved By(UNIT HEAD) </h4>
                </div>


                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Name </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="apprName" name="apprName" id="apprName" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Signature </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="apprSign" name="apprSign" id="apprSign" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Date </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="apprDate" name="apprDate" id="apprDate" class="form-control fg-input" required>
                            </td>
                        </tr>

                    </tbody>
                </table>


                <div class="card-header">
                    <h4 style="text-align:center;">  Budget Approved By (Centarl Finance Department) </h4>
                </div>


                <table class=" table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">

                    <tbody>


                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Name </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="budgtName" name="budgtName" id="budgtName" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Signature </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="budgtSign" name="budgtSign" id="budgtSign" class="form-control fg-input" required>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <h5> Date </h5>
                                    </tr>
                                </table>
                            </td>
                            <td>
                                <input type="text" ng-model="budgtDate" name="budgtDate" id="budgtDate" class="form-control fg-input" required>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="card-header">
                    <h4 style="text-align:center;">   Purchase Department Use</h4>
                </div>


                <table class="pull-left table table-vmiddle table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                    <tr class="pull-right center">
                        <th>
                            Purchase Department Use (new)
                        </th>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Po No </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="purchasePoNo" name="purchasePoNo" id="purchasePoNo" class="form-control fg-input" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Po Date </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="purchasePoDate " name="purchasePoDate" id="purchasePoDate" class="form-control fg-input" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Suppiler Name </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="purchaseName" name="purchaseName" id="purchaseName" class="form-control fg-input" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Other Info </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="purchaseother" name="purchaseother" id="purchaseother" class="form-control fg-input" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <h5> Signatrure </h5>
                                </tr>
                            </table>
                        </td>
                        <td>
                            <input type="text" ng-model="purchaseSigna" name="purchaseSigna" id="purchaseSigna" class="form-control fg-input" required>
                        </td>
                    </tr>


                </table>


                <div class="row text-center">
                    <button class="btn btn-info btn-file btn-new-look" ng-click="saveIndent()">Save Indent</button>
                    <button class="btn btn-info btn-new-look" ng-click="cancelClick()">Cancel</button>
                </div>

            </div>
        </div>


     
    </section>
</section>
