﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="sapShortagePRReportCtrl">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Category</label>
                                <select ng-model="category" class="form-control">
                                    <!-- ng-change="getShortageOpenPRFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)"-->
                                    <!--<option value='0'>ALL</option>
                                    <option value='PR TO BE CLOSED'>Short Qty. - PR to be closed</option>
                                    <option value='DELAYED/ON HOLD BY PLANT'>Delayed/on hold by Plant</option>
                                    <option value='STRATEGIC BUYING PR'>Strategic Buying PR</option>
                                    <option value='DELAY'>Delay</option>
                                    <option value='OTHERS'>Others</option>-->
                                    <option value='0'>ALL</option>
                                    <option value='MISMATCH UOM CONVERSION' selected="selected">Qty. Mismatch UOM Conversion</option>
                                    <option value='SHORTAGE'>Shortage/Availability Issue</option>
                                    <option value='PR TO BE CLOSED'>PR to be Closed</option>
                                    <option value='ON HOLD BY PLANT'>On Hold By Plant</option>
                                    <option value='OTHERS'>Others</option>
                                </select>
                            </div>
                            <div class="col-md-1">
                                <label>Purchaser</label><!--ng-change="getShortageOpenPRFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)"-->
                                <select ng-model="filterModelPurchaseUser" name="accessType" id="accessType" class="form-control" ng-options="accessType.objectID as accessType.message for accessType in accessTypes"></select>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">From date <small><small>(DD-MM-YYYY)</small></small></label>
                                    <div class="col-md-12" moment-picker="idealFromDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="idealFromDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="col-md-12">To date <small><small>(DD-MM-YYYY)</small></small></label>
                                    <div class="col-md-12" moment-picker="idealToDate" format="DD-MM-YYYY">
                                        <input class="form-control" placeholder="Select a date" ng-model="idealToDate" ng-model-options="{ updateOn: 'blur' }">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12"></label>
                                <button style="margin-top:15px;"
                                        class="btn btn-info pull-left m-l-20 waves-effect waves-light"
                                        ng-click="getShortageOpenPRFilter(category,idealFromDate,idealToDate,filterModelPurchaseUser)">
                                    Apply
                                </button>
                            </div>
                            <div class="col-md-2">
                                <label class="col-md-12"></label>
                                <button style="margin-top:15px;" class="btn btn-info m-l-20 waves-effect waves-light" ng-click="exportShortageReportExcel();">Export</button>
                            </div>
                        </div>
                    </div>
                    <br />
                    <!--<div class="row text-center">
                        <div class="col-md-12">
                            <label class="col-md-12"></label>
                            <button style="margin-top:15px;" class="btn btn-info m-l-20 waves-effect waves-light" ng-click="exportShortageReportExcel();">Export</button>
                        </div>
                    </div>-->

                    <!--<div class="row">
                        <div class="col-md-4 pull-left text-left">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'TOP')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                        </div>
                        <div class="col-md-4 center-block text-center">
                        </div>
                        <div class="col-md-4 pull-right text-right">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'TOP')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>-->

                    <div class="table-responsive z-depth-2" double-scroll-bar-horizontal>

                        <table class="table table-striped table-vmiddle" >
                            <thead>
                                <tr>
                                    <th id="A">
                                        <strong>Plant Name</strong>
                                    </th>
                                    <th>
                                        <strong>Purch. Name</strong>
                                    </th>
                                    <th>
                                        <strong>PR No.</strong>
                                    </th>
                                    <th>
                                        <strong>PR Item No</strong>
                                    </th>
                                    <th style="min-width:100px;max-width:100px;">
                                        <strong>PR Creat. Date</strong>
                                    </th>
                                    <th>
                                        <strong>Material</strong>
                                    </th>
                                    <th>
                                        <strong>Material Desc.</strong>
                                    </th>
                                    <th>
                                        <strong>API Name</strong>
                                    </th>
                                    <th>
                                        <strong>UOM</strong>
                                    </th>
                                    <th>
                                        <strong>PR Qty.</strong>
                                    </th>
                                    <th>
                                        <strong>Orderd Qty.</strong>
                                    </th>
                                    <th>
                                        <strong>Lead Time</strong>
                                    </th>
                                    <th style="min-width:100px;max-width:100px;">
                                        <strong>Delivery Date</strong>
                                    </th>
                                    <th style="min-width:100px;max-width:100px;">
                                        <strong>Ideal Delivery Date</strong>
                                    </th>
                                    <th style="min-width:100px;max-width:100px;">
                                        <strong>Category</strong>
                                    </th>
                                    <th style="min-width:100px;max-width:100px;">
                                        <strong>STATUS</strong>
                                    </th>
                                   
                                    <th style="min-width:110px;max-width:110px;" id="Z"><strong>COMMENTS</strong></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in openPRArr.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                                    <td>
                                        {{item.PLANT_NAME}}
                                    </td>
                                    <td>
                                        {{item.PURCHASER}}
                                    </td>
                                    <td>
                                        {{item.PURCHASE_REQUISITION}}
                                    </td>
                                    <td>
                                        {{item.ITEM_OF_REQUISITION}}
                                    </td>
                                    <td style="min-width:100px;max-width:100px;">
                                        {{item.REQUISITION_DATE1}}
                                    </td>
                                    <td>
                                        {{item.MATERIAL}}
                                    </td>
                                    <td>
                                        {{item.SHORT_TEXT}}
                                    </td>
                                    <td>
                                        {{item.API_NAME}}
                                    </td>

                                    <td>
                                        {{item.UNIT_OF_MEASURE}}
                                    </td>
                                    <td>
                                        {{item.QUANTITY_REQUESTED | number:0}}
                                    </td>
                                    <td>
                                        {{item.QUANTITY_ORDERED | number:0}}
                                    </td>
                                    <td>
                                        {{item.LEAD_TIME}}
                                    </td>
                                    <td style="min-width:100px;max-width:100px;">
                                        {{item.DELIV_DATE_FROM_TO1}}
                                    </td>
                                    <td style="min-width:100px;max-width:100px;">
                                        {{item.IDEAL_DELIVERY_DATE1}}
                                    </td>
                                    <td style="min-width:100px;max-width:100px;">
                                        {{item.CATEGORY}}
                                    </td>
                                    <td style="min-width:100px;max-width:100px;">
                                        <select ng-model="item.NWSTATUS" ng-disabled="!isUserEntitled(591188)" title="{{item.NWSTATUS}}" ng-style="{'background-color':item.color}" style="width: 200px" class="form-control" ng-change="updateStatus(item,item.NWSTATUS,$index);">
                                            <option value=''>Select</option>
                                            <option value='REVIEW PENDING' style="background-color:orangered">Review Pending</option>
                                            <option value='REVIEWED BUT ACTION PENDING' style="background-color:yellow">Reviewed But Action Pending</option>
                                            <option value='REVIEWED AND ACTION TAKEN' style="background-color:greenyellow">Reviewed And Action Taken</option>
                                        </select>
                                    </td>
                                   
                                    <td style="min-width:110px;max-width:110px;" data-title="''">
                                        {{item.COMMENTS}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage" max-size="maxSize" ng-change="pageChanged()" class="pagination-sm" boundary-links="true" force-ellipses="true" style="float: right;"></ul>
                    </div>


                    <!--<div class="row">
                        <div class="col-md-4 pull-left text-left">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('A', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-left"></i></button>
                        </div>
                        <div class="col-md-4 center-block text-center">
                        </div>
                        <div class="col-md-4 pull-right text-right">
                            <button class="btn btn-info btn-xs" ng-click="scrollWin('Z', 'BOTTOM')"><i class="fas fa-arrow-alt-circle-right"></i></button>
                        </div>
                    </div>-->


                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>