﻿<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div data-ng-controller="gstInfoCtrl">
                    <div class="vendorviewprofile">
                        <div class="box-title">
                            <h4 style="text-align:center;"><strong>GST INFORMATION</strong></h4>
                        </div>
                        <div class="col-md-12">
                            <div class="row white-box">
                                <h4>GSTIN of the Taxpayer</h4>
                                <div style="display:inline-block;margin-right:10px;" class="col-md-2 m-t-20">
                                    <input class="form-control white attribute-filter ng-pristine ng-valid ng-touched" style="margin:5px" ng-change="searchGst()" ng-model="searchKeyword" type="text" placeholder="Search">
                                </div>
                                <div class="col-md-2 m-t-20">
                                    <select ng-model="year" ng-change="searchGst()" class="form-control" style="margin:5px">
                                        <option value='2019-20'>2019-20</option>
                                        <option value='2020-21'>2020-21</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row white-box">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-info  m-r-5"></i> Company Info</h4>
                                </div>
                                <div class="col-md-6">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.general">
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Name: </strong><span style="color:#ed1d24;">{{vendorGstDetailsObj.general.lgnm}}</span></div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Status:</strong><span style="color:#4caf50;"></span>{{vendorGstDetailsObj.general.sts}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Registered Date:</strong><span style="color:#115980;">{{vendorGstDetailsObj.general.rgdt}}</span>  (DD/MM/YYYY) </div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Company Type:</strong> {{vendorGstDetailsObj.general.ctb}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Type:</strong> {{vendorGstDetailsObj.general.dty}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Type of Services:</strong> <span style="color: #ff9800;">{{vendorGstDetailsObj.general.nba}}</span></div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Date of Cancellation:</strong> {{vendorGstDetailsObj.general.cxdt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Last Updated Date:</strong> {{vendorGstDetailsObj.general.lstupddt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Registered Name:</strong> {{vendorGstDetailsObj.general.tradeNam}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Registration Address:</strong> {{vendorGstDetailsObj.general.stj}} ({{vendorGstDetailsObj.general.stjCd}})</div></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.general">

                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Tax Center:</strong> {{vendorGstDetailsObj.general.ctj}} ({{vendorGstDetailsObj.general.ctjCd}})</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Constitution of Business:</strong><span style="color:#8a6d3b;">{{vendorGstDetailsObj.general.ctb}}</span> </div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State Jurisdiction Code:</strong> {{vendorGstDetailsObj.general.stjCd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Floor:</strong> {{vendorGstDetailsObj.general.flno}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Building:</strong> {{vendorGstDetailsObj.general.bno}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Location:</strong> {{vendorGstDetailsObj.general.loc}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>State:</strong> {{vendorGstDetailsObj.general.stcd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>PincCode:</strong> {{vendorGstDetailsObj.general.pncd}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Lattitude:</strong> {{vendorGstDetailsObj.general.lt}}</div></div>
                                        <div class="row" style="padding-top:10px;"><div class="col-md-12"><strong>Longitude:</strong> {{vendorGstDetailsObj.general.lg}}</div></div>
                                    </div>

                                </div>
                                <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="vendorGstDetailsObj.isError">
                                    {{vendorGstDetailsObj.error}}
                                </div>
                            </div>

                            <div class="row white-box">
                                <div class="pmbb-header">
                                    <h4><i class="fa fa-info  m-r-5"></i> GST Filing Info</h4>
                                </div>
                                <div class="pmbb-body">
                                    <div class="pmbb-view" style="overflow-wrap: break-word;max-height: 300px; overflow: auto;" ng-if="!vendorGstDetailsObj.isError && vendorGstDetailsObj && vendorGstDetailsObj.filing">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <table ng-table="tctrl.tableSorting" class="table table-vmiddle table-fixed" show-filter="false">
                                                    <tr ng-repeat="gstDetail in vendorGstDetailsObj.filing">
                                                        <td data-title="'Valid'" sortable="'ID'">
                                                            {{ gstDetail.valid}}
                                                        </td>
                                                        <td data-title="'Mode of Filing'" sortable="'Type'">
                                                            {{ gstDetail.mof }}
                                                        </td>
                                                        <td data-title="'Date of Filing'" sortable="'Name'">
                                                            {{ gstDetail.dof }}
                                                        </td>
                                                        <td data-title="'Return Period'" sortable="'Name'">
                                                            {{ gstDetail.rtntype }}
                                                        </td>
                                                        <td data-title="'Return Type'">{{gstDetail.ret_prd}}</td>
                                                        <td data-title="'ARN'">{{gstDetail.arn}} </td>
                                                        <td data-title="'Status'"> {{ gstDetail.status}} </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pmbb-view" style="overflow-wrap: break-word;" ng-if="vendorGstDetailsObj.isError">
                                        {{vendorGstDetailsObj.error}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>