﻿<header id="header" data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
<section id="main">
    <!--aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside-->
    <!--aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside-->
    <section id="content">
        <div class="container" data-ng-controller="meterialReceivedCtrl">
            <div class="block-header">
                <h2>{{auctionItem.title}}</h2>
            </div>
            <form ng-submit="meterialReceivedForm.$valid && postRequest()" class="meterialReceivedForm" name="meterialReceivedForm" novalidate>

                <div class="card">
                    <div class="card-header">
                        <h2>Meterial Received Details</h2>
                    </div>
                    <div class="card-body card-padding">
                        <div class="row">

                            <div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">
                                    <input type="text" ng-model="materialReceived.reqMaterialDetails.invoiceNumber" id="invoiceNumber" name="invoiceNumberName" class="form-control" required>
                                    <label class="fg-label">Invoice No</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.invoiceNumberName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.invoiceNumberName.$error.required">Please enter Invoice Number</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">
                                    <input type="text" ng-model="materialReceived.reqMaterialDetails.dCNumber" id="dCNumber" name="dCNumberName" class="form-control" required>
                                    <label class="fg-label">DC No</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.dCNumberName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.dCNumberName.$error.required">Please enter Invoice Number</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">
                                    <input type="text" ng-model="materialReceived.materialReceivedReceiptNo" id="mrrNumber" name="mrrNumberName" class="form-control" required>
                                    <label class="fg-label">MRR No</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.mrrNumberName.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.mrrNumberName.$error.required">Please enter Invoice Number</div>
                                </div>
                            </div>

                            <div class="form-group fg-float col-md-6 m-b-30">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true || materialReceived.materialReceivedFrom != '' || materialReceived.materialReceivedFrom != undefined}">
                                    <input type="text" ng-model="materialReceived.materialReceivedFrom" id="receiveFrom" name="receiveFrom" class="form-control" required>
                                    <label class="selectfield fg-label">Receive From</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.receiveFrom.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.receiveFrom.$error.required">Please enter Receive From</div>
                                </div>
                            </div>


                            <div class="fg-float col-md-6">
                                <div class="fg-line input-field " ng-class="{'fg-toggled': true===true}">
                                    <!--<input type="text" ng-model="formRequest.dispatchedMode" required name="dispatchedMode" id="dispatchedMode" class="form-control fg-input">-->

                                    <select ng-model="materialReceived.materialReceivedMode" class="form-control" data-placeholder="receive Mode" id="urgency">
                                        <option value="Private Carrier">Private Carrier</option>
                                        <option value="Courear">Courear</option>
                                        <option value="Pick-Up">Pick-Up</option>
                                    </select>

                                    <label class="fg-label">Receive Mode</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.receiveMode.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.receiveMode.$error.required">Please enter Meterial Receive Mode</div>
                                </div>
                            </div>


                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">
                                    <input type="text" ng-model="materialReceived.materialReceivedThrough" id="receiveThrough" name="receiveThrough" class="form-control" required>
                                    <label class="fg-label">Receive Through</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.receiveThrough.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.receiveThrough.$error.required">Please enter Receive Through</div>
                                </div>
                            </div>



                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">

                                    <input datetime-picker type="text" ng-model="materialReceived.materialReceivedDate" name="receiveDelivery" id="receiveDelivery" date-format="dd-MM-yyyy" date-only class="form-control fg-input" required datetime-picker date-format="dd-MM-yyyy" date-only>
                                    <label class="fg-label">Receive Date</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.receiveDelivery.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.receiveDelivery.$error.required">Please enter Expected Delivery Date</div>
                                </div>
                            </div>


                            <div class="form-group fg-float col-md-6 m-b-30 top-half-buffer">
                                <div class="fg-line" ng-class="{'fg-toggled': true===true}">
                                    <input type="text" ng-model="materialReceived.comments" id="comments" name="comments" class="form-control" required>
                                    <label class="fg-label"> Comments</label>
                                </div>
                                <div ng-show="meterialReceivedForm.$submitted || meterialReceivedForm.comments.$touched">
                                    <div class="help-block error logininput" ng-show="meterialReceivedForm.comments.$error.required">Please enter comments</div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="fileinput fileinput-new" data-provides="fileinput">
                                    <span class="btn btn-info btn-file m-r-10  btn-new-look">
                                        <span class="fileinput-new">Select file</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="attachement" ng-file-select="onFileSelect($files)" />
                                    </span>
                                    <span class="fileinput-filename"></span>
                                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                </div>
                                <div ng-show="requirementAttachement">
                                    <div class="help-block error logininput" ng-show="requirementAttachement">Please attache requirement file</div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <button type="submit" class="btn btn-info btn-file m-r-10">Received Meterial</button>
                </div>
            </form>
        </div>
    </section>
</section>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>