﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="white-box">
                    <div class="row">
                        <h3 style="text-align:center"><strong>Project Status</strong></h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6" style="text-align:left">
                                <div class="col-sm-12">
                                    <div><strong class="ng-binding"><span>PROJECT NAME: </span>Neuland Laboratories Ltd - PRM360</strong></div>
                                </div><br />
                                <div class="col-sm-12">
                                    <div><strong class="ng-binding"><span>PROJECT MANAGER: </span>Sanjana</strong></div>
                                </div><br>
                                <div class="col-sm-12">
                                    <div><strong class="ng-binding"><span>GO LIVE DATE: </span>30-09-2020</strong></div>
                                </div>
                            </div>
                            <div class="col-md-6" style="text-align:right">
                                <div class="col-sm-12">
                                    <div><strong class="ng-binding"><span>START DATE: </span>31-08-2020</strong></div>
                                </div><br>

                                <div class="col-sm-12">
                                    <div><strong class="ng-binding"><span>END DATE: </span>30-10-2020</strong></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row text-info" style="text-align:right;padding-right: 16px;">
                                <small>CS: PRM360 Customer Support</small><br />
                                <small>PMG: PRM360 Project Management Group</small>
                            </div>

                            <div class="table-responsive">
                                <table class="table table-fixed">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>TASKS</th>
                                            <th>RESPONSIBLE</th>
                                            <th>START DATE</th>
                                            <th>EXPECTED END DATE</th>
                                            <th>ACTUAL END DATE</th>
                                            <th>DELAY DAYS</th>
                                            <th>STATUS</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td></td>
                                            <td>Requirement Discussion with High level customisation details with priorities</td>
                                            <td>PMG/CS</td>
                                            <td>31-08-2020</td>
                                            <td>31-08-2020</td>
                                            <td>31-08-2020</td>
                                            <td class="text-success">0</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Detailed Product Demo to POC's</td>
                                            <td>PMG/CS</td>
                                            <td>03-09-2020</td>
                                            <td>03-09-2020</td>
                                            <td>03-09-2020</td>
                                            <td class="text-success">0</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>SOW finalisation at detailed level including project milestones as per priorities</td>
                                            <td>PMG/Neuland</td>
                                            <td>04-09-2020</td>
                                            <td>11-09-2020</td>
                                            <td>11-09-2020</td>
                                            <td class="text-success">0</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Set Kick-Off Meeting/Introducing POC's</td>
                                            <td>PMG</td>
                                            <td>14-09-2020</td>
                                            <td>14-09-2020</td>
                                            <td>14-09-2020</td>
                                            <td class="text-success">0</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>SAP Sample Data Dump to setup in UAT Region</td>
                                            <td>PMG/Neuland</td>
                                            <td>14-09-2020</td>
                                            <td>16-09-2020</td>
                                            <td>16-09-2020</td>
                                            <td class="text-success">0</td>
                                            <td>Completed</td>
                                        <tr>
                                            <td></td>
                                            <td>SAP Data Setup in Neuland PRM360 UAT Solution</td>
                                            <td>PMG</td>
                                            <td>17-09-2020</td>
                                            <td>17-09-2020</td>
                                            <td>20-09-2020</td>
                                            <td class="text-danger">4</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>User Training for all POC's</td>
                                            <td>PMG/CS</td>
                                            <td>17-09-2020</td>
                                            <td>17-09-2020</td>
                                            <td>21-09-2020</td>
                                            <td class="text-danger">4</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Standalone UAT Testing</td>
                                            <td>PMG/Neuland</td>
                                            <td>17-09-2020</td>
                                            <td>28-09-2020</td>
                                            <td>20-10-2020</td>
                                            <td class="text-danger">22</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Agile Development & Testing with Weekly Release on Change requests during UAT</td>
                                            <td>PMG/CS</td>
                                            <td>14-09-2020</td>
                                            <td>28-09-2020</td>
                                            <td>15-10-2020</td>
                                            <td class="text-danger">17</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Standalone UAT Singoff</td>
                                            <td>Neuland</td>
                                            <td>28-09-2020</td>
                                            <td>28-09-2020</td>
                                            <td>20-10-2020</td>
                                            <td class="text-danger">22</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>System Pre requisites from Neuland For Purchase User, Department creation and Validated Vendor data to complete the setup</td>
                                            <td>Neuland</td>
                                            <td>25-09-2020</td>
                                            <td>26-09-2020</td>
                                            <td>09-10-2020</td>
                                            <td class="text-danger">13</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Vendor Training Process KICK - OFF</td>
                                            <td>Vendor Support</td>
                                            <td>26-09-2020</td>
                                            <td>26-09-2020</td>
                                            <td>12-10-2020</td>
                                            <td class="text-danger">16</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>User Training for all Purchase users</td>
                                            <td>Vendor Support</td>
                                            <td>26-09-2020</td>
                                            <td>26-09-2020</td>
                                            <td>20-10-2020</td>
                                            <td class="text-danger">24</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>Go-Live Stand Alone P2P Suite</td>
                                            <td>PMG/CS</td>
                                            <td>30-09-2020</td>
                                            <td>30-09-2020</td>
                                            <td>21-10-2020</td>
                                            <td class="text-danger">21</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>SAP Integration approach finalization</td>
                                            <td>PMG/Neuland</td>
                                            <td>14-09-2020</td>
                                            <td>16-09-2020</td>
                                            <td>21-09-2020</td>
                                            <td class="text-danger">5</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td data-title="''">
                                                <a role="button" ng-hide="details.expanded" ng-click="details.expanded = true" title="More Details"><i class="fa fa-angle-right fa-2x"></i></a>
                                                <a role="button" ng-hide="!details.expanded" ng-click="details.expanded = false" title="Hide Details"><i class="fa fa-angle-down fa-2x"></i></a>
                                            </td>
                                            <td>SAP Integration Development</td>
                                            <td>PMG</td>
                                            <td>16-09-2020</td>
                                            <td>21-10-2020</td>
                                            <td>17-11-2020</td>
                                            <td class="text-danger">27</td>
                                            <td>Completed</td>
                                        </tr>
                                        <tr>
                                            <td colspan="16" ng-if="details.expanded">
                                                <table class="table table-fixed">
                                                    <thead>
                                                        <tr>
                                                            <td></td>
                                                            <th>TASKS</th>
                                                            <th>RESPONSIBLE</th>
                                                            <th>START DATE</th>
                                                            <th>EXPECTED END DATE</th>
                                                            <th>ACTUAL END DATE</th>
                                                            <th>DELAY DAYS</th>
                                                            <th>STATUS</th>
                                                        </tr>
                                                    </thead>
                                                    <tr>
                                                        <td></td>
                                                        <td>SAP PR and Vendor Master Integration with PRM360 Product</td>
                                                        <td>PMG</td>
                                                        <td>16-09-2020</td>
                                                        <td>05-10-2020</td>
                                                        <td>06-01-2021</td>
                                                        <td class="text-danger">93</td>
                                                        <td>Completed</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>SAP PO and GRN Integration with PRM360 Product</td>
                                                        <td>PMG</td>
                                                        <td>05-10-2020</td>
                                                        <td>09-10-2020</td>
                                                        <td>-</td>
                                                        <td class="text-danger">98</td>
                                                        <td>In Progress</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>SAP Material and Payment Integration with PRM360 Product</td>
                                                        <td>PMG</td>
                                                        <td>09-10-2020</td>
                                                        <td>16-10-2020</td>
                                                        <td>-</td>
                                                        <td class="text-danger">91</td>
                                                        <td>In Progress</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td>Invoice</td>
                                                        <td>PMG</td>
                                                        <td>09-10-2020</td>
                                                        <td>16-10-2020</td>
                                                        <td>-</td>
                                                        <td class="text-danger">91</td>
                                                        <td>Yet To Start</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td></td>
                                            <td>SAP Integration Testing</td>
                                            <td>Neuland</td>
                                            <td>05-10-2020</td>
                                            <td>20-10-2020</td>
                                            <td>-</td>
                                            <td class="text-danger">87</td>
                                            <td>In Progress</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>PRM360-SAP Integrated Solution Signoff</td>
                                            <td>PMG/Neuland</td>
                                            <td>21-10-2020</td>
                                            <td>21-10-2020</td>
                                            <td>-</td>
                                            <td class="text-danger">86</td>
                                            <td>In Progress</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>PMG Go live Support</td>
                                            <td>CS</td>
                                            <td>21-10-2020</td>
                                            <td>30-10-2020</td>
                                            <td>-</td>
                                            <td class="text-danger">77</td>
                                            <td>In Progress</td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>PMG Sign off</td>
                                            <td>PMG/CS</td>
                                            <td>30-10-2020</td>
                                            <td>30-10-2020</td>
                                            <td>-</td>
                                            <td class="text-danger">77</td>
                                            <td>In Progress</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>