﻿
<div class="white-box">
    <div class="row">

        <div class="pmb-block" ng-controller="profileVendorCatalogCtrl" >
          <!--  <div class="row">
                <div class="pmbb-header ">
                    <div class="col-md-12">
                        <h4 class="page-heading">Categories</h4>
                    </div>
                </div>
            </div> -->
                <div class="row " style="color:#777">
                    <div class="col-sm-2">
                        <div class="fileupload btn btn-info waves-effect waves-light">
                            <span class="fileinput-new"><i class="fa fa-upload m-r-5"></i>Your Catalog</span>
                            <input type="file" class="upload" accept=".xlsx" id="excelquotationproducts1" itemid="excelquotationproducts1" ng-file-select-items="onFileSelect($files)">
                        </div>
                    </div>
                    <div class="col-sm-2" ng-if="vendorCatalogFile && vendorCatalogFile != "">
                        <a target="_blank" class="btn btn-info btn-sm waves-effect editRequirement_btn" href="FileDownload.aspx?attachid={{vendorCatalogFile}}&sessionid={{sessionid}}">
                            <i class="fa fa-download" aria-hidden="true"></i> Download My Catalog
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <div class="fileupload btn btn-info waves-effect waves-light">
                            <span class="fileinput-new"><i class="fa fa-plus m-r-5"></i>Upload excel</span>
                            <input type="file" class="upload" accept=".xlsx" id="excelquotationproducts" itemid="excelquotationproducts" ng-file-select-items="onFileSelect($files)">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <span>download template</span>
                        <input ng-click="exportTemplateToExcel()" type="button" value="Template" class='btn-info' />
                    </div>
                </div>
            <div class="row">
                <br />
            </div>
            <div class="row ">
                <div class="col-md-12 add-row add-req-items-border" style="padding:30px;">

                    <div class="col-md-12">

                        <script type="text/ng-template" id="nodes_categories.html">
                            <div data-nodrag>
                                <label style="width:12px" role="button">
                                    <span data-nodrag ng-if="node.nodes && node.nodes.length > 0" ng-init="node.isExpand = false" ng-click="toggle(this);node.isExpand = !node.isExpand" class="glyphicon"
                                          ng-class="collapsed? 'glyphicon-chevron-right' : 'glyphicon-chevron-down'"></span>
                                </label>
                                <input type="checkbox" ng-model="node.nodeChecked" ng-click="vendorcheckChanged(node, this);productsLimit = 100;" /><label>{{node.catName}}</label>
                                <label ng-if="node.nodes && node.nodes.length > 0" class="font-bold"><!--({{node.nodes.length}})--></label>
                            </div>
                            <div ng-init="limit = 10">
                                <ul ng-model="node.nodes" ng-if="node.isExpand == true">
                                    <li ng-repeat="node in node.nodes | limitTo: limit as results" ng-include="'nodes_categories.html'" collapsed="true"></li>
                                    <li role="button" ng-show="results.length < node.nodes.length" ng-click="limit = limit + 100;" title="Show more 100.">
                                        <a>Show more...({{results.length}} out of {{node.nodes.length}})</a>
                                    </li>
                                </ul>
                            </div>

                        </script>
                        <div class="pull-right col-md-3 col-xs-3">
                            <input type="submit" class="btn btn-info btn-wide" value="Save" ng-click="SaveVendorCatalog1()">
                        </div>
                        <div class="row" style="color:#777">
                            <div class="col-md-4">
                                <div class="col-sm-12">
                                    <strong><u>Categories</u></strong>
                                    <br />
                                </div>
                                <div class="row" style="padding-left:30px;">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="categorySearchString" ng-change="searchCategory(categorySearchString);" placeholder="Search Category" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div ui-tree id="tree-root" ng-if="parentNodes && parentNodes.length > 0">
                                        <div class="row">
                                            <!--ng-init="categoryLimit = 10"-->
                                            <ul ui-tree-nodes ng-model="parentNodes">
                                                <li ng-repeat="node in parentNodes | limitTo: categoryLimit as categoryResults" ui-tree-node ng-include="'nodes_categories.html'" ng-class="collapse" collapsed="true"></li>
                                            </ul>
                                            <!--{{categoryLimit}}meghana {{categoryResults.length}}chetan {{parentNodes.length}}jay-->
                                        </div>
                                        <div role="button" ng-show="categoryResults.length < parentNodes.length" ng-click="categoryLimit = categoryLimit + 100;" title="Show more 100.">
                                            <a><strong>Show more...({{categoryResults.length}} out of {{parentNodes.length}})</strong></a>
                                            /a
                                            v>
                                        </div>
                                    </div>
                                    <div ng-if="!parentNodes || parentNodes.length <= 0">
                                        No Categories are available
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row" style="padding-left:30px;">
                                    <strong><u>Product Name/Code</u></strong>
                                    <br />
                                </div>
                                <div class="row" style="padding-left:30px;">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <input type="text" class="form-control" ng-model="productSearchString" ng-change="searchProducts(productSearchString);" placeholder="Search Product Name/Code" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-init="productsLimit = 10">
                                    <ul ng-model="products" ng-if="products && products.length > 0">
                                        <li ng-repeat="product in products | limitTo: productsLimit as productsResults" style="list-style:none;">
                                            <div>
                                                <input type="checkbox" ng-model="product.nodeChecked" />
                                                {{product.prodName}}
                                            </div>
                                        </li>
                                        <!--{{productsLimit}}meghana {{productsResults.length}}chetan {{products.length}}anand-->
                                        <li role="button" ng-show="productsResults.length < products.length" ng-click="productsLimit = productsLimit + 100;" title="Show more 100.">
                                            <a>Show more...({{productsResults.length}} out of {{products.length}})</a>
                                        </li>
                                        <!--<a role="button" ng-show="productsResults.length < products.length" ng-click="productsLimit = products.length" title="Show All.">
        Show All.
    </a>-->
                                    </ul>
                                    <div ng-if="!products || products.length <= 0">
                                        No products available for selected categories
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
