<html>
<head>
	<style>
        table {{border-collapse: collapse;
                width: 40px;
                table-layout: fixed;                
               }}

        table.borderClass td {{
            border: 1px solid black;
            text-align: center;
        }}

        table.marginClass tr {{
            margin-top: 10px;
        }}
		.line{{
			width: 112px;
			height: 47px;
			border-bottom: 1px solid black;
			position: absolute;
		}}
    </style>
</head>
<body>
<div class="" ng-show="pageNo == 5" id="requirement">
            <div class="row">
                <div class="card">
					<div class="form-group col-sm-6 fg-float">
						<center><h1><u>Requirement {0}</u></h1></center>
                    </div>
                    <div class="card-body card-padding ">
						<table class="table table-striped">
							<tbody>
								<tr>
									<th style="text-align:left;width:20%"> Title </th>
									<th style="text-align:left;width:5%">  :  </th>
									<th style="text-align:left;width:75%">{1}</br></th>
								</tr>
								<tr>
									<th style="text-align:left;width:20%"> Comments </th>
									<th style="text-align:left;width:5%">  :  </th>
									<th style="text-align:left;width:75%">{3}</br></th>
								</tr>								
							</tbody>
						</table>                        
                    </div>
                </div>
				<h4> Requirement Items : </h4>
				
				<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
				<tr>
					<td style="font-weight:bold; text-align:center; width:20%; max-width:20%"> PRODUCT NAME </td>
					<td style="font-weight:bold; text-align:center; width:20%; max-width:20%"> PRODUCT NO </td>
					<td style="font-weight:bold; text-align:center; width:25%; max-width:25%;text-overflow: ellipsis;"> DESCRIPTION </td>
					<td style="font-weight:bold; text-align:center; width:5%; max-width:5%"> QTY </td>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> PREFERED BRAND </td>
					<td style="font-weight:bold; text-align:center; width:15%; max-width:15%"> OTHER BRAND </td>
				</tr>
				{2}
				</table>
				
				<h4> Delivery & Payment Terms : </h4>
				
				<table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
					<tr>
						<td style="width:50%;padding:5px"> Delivery Location </td>
						<td style="width:50%;padding:5px"> {4} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Payment Terms (in days) </td>
						<td style="width:50%;padding:5px"> {5} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Delivery Date </td>
						<td style="width:50%;padding:5px"> {6} </td>
					</tr>
				</table>
                <h4> Transaction Configuration : </h4>
                <table width='100%' cellpadding="0" cellspacing="0" border="1px solid black">
					<tr>
						<td style="width:50%;padding:5px"> Product Urgency </td>
						<td style="width:50%;padding:5px"> {7} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Quotation Freeze Time </td>
						<td style="width:50%;padding:5px"> {8} </td>
					</tr>
					<tr>
						<td style="width:50%;padding:5px"> Currency </td>
						<td style="width:50%;padding:5px"> {9} </td>
					</tr>
				</table>				  
		</body>
		</html>