<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">




                <div data-ng-controller="lgstcsRemindersCtrl">
                    <div class="white-box">
                        <div class="box-title">
                            <h2 ng-if="requestType == 'REMINDER'">Reminders<small></small></h2>
                            <h2 ng-if="requestType == 'INTRO'">Introduction<small></small></h2>
                        </div>
                        <div class="row">

                            <div class="row">
                                <div class="form-group fg-float col-sm-6 m-b-30 col-md-12">
                                    <label class="col-md-4">
                                        <input type="radio" ng-model="requestType" ng-change="getVendors()" value="REMINDER">
                                        <span style="font-size:20px;">Reminder</span>
                                    </label>
                                    <label class="col-md-4">
                                        <input type="radio" ng-model="requestType" ng-change="getVendors()" value="INTRO">
                                        <span style="font-size:20px;">Introduction</span>
                                    </label>
                                </div>
                            </div>


                            <div class="row">
                                <div class="form-group fg-float col-sm-6 m-b-30 col-md-12">
                                    <!--<label class="col-md-2">
                                        <input type="radio" ng-model="sendMessageTo" ng-change="getVendors()" value="approved">
                                        Approved Vendors
                                    </label>
                                    <label class="col-md-2">
                                        <input type="radio" ng-model="sendMessageTo" ng-change="getVendors()" value="rejected">
                                        Rejected Vendors
                                    </label>-->
                                    <label class="col-md-2">
                                        <input type="radio" ng-model="sendMessageTo" ng-change="getVendors()" value="specific">
                                        Specific Vendors
                                    </label>
                                    <!--<label class="col-md-3">
                                        <input type="radio" ng-model="sendMessageTo" ng-change="getVendors()" value="notuploaded">
                                        Quotation Not Uploaded Vendors
                                    </label>-->
                                    <label class="col-md-2">
                                        <input type="radio" ng-model="sendMessageTo" ng-change="getVendors()" value="all">
                                        All Vendors
                                    </label>
                                </div>
                            </div>


                            <div>
                                <div class="form-group fg-float bottom-buffer">
                                    <div class="fg-line input-field">
                                        <textarea ng-model="reminderMessage" id="reminderMessage" name="reminderMessage" rows="3" style="resize: vertical;" class="form-control fg-input"></textarea>
                                        <label class="fg-label">Message</label>
                                    </div>
                                    <div ng-show="reminderMessageValidation">
                                        <div class="help-block error logininput" ng-show="reminderMessageValidation">Please enter Message</div>
                                    </div>
                                </div>


                                <h4>SMS & Email Will be send to</h4>

                                <div>
                                    <span ng-repeat="selectedvendors in listSelectedVendors">
                                        <input ng-if="sendMessageTo == 'specific'" type="checkbox" ng-click="selectVendor(selectedvendors.vendorID, selectedvendors.vendorName);" value="selectedvendors.vendorID">
                                        <span style="background-color:lavender">{{selectedvendors.vendorName}}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    </span>
                                </div>

                                <div ng-if="reminderVendorsValidation">
                                    <br />
                                    <h5 class="help-block error logininput" ng-if="sendMessageTo == 'specific'">Please Select the Vendors To send SMS & Email</h5>
                                    <h5 class="help-block error logininput" ng-if="sendMessageTo != 'specific'">There are no Vendors To send SMS & Email</h5>
                                </div>
                                <br />
                                <div>
                                    <button ng-disabled="requestType == ''" class="btn btn-info btn-file m-r-10" ng-click="vendorreminders()">Send</button>
                                </div>
                                <br /><br /><br />
                                <div>
                                    <h4>History</h4>
                                </div>
                                <table class="table table-vmiddle quotes_table table-hover table-responsive z-depth-1 clear-both">
                                    <tr>
                                        <th style="width:50%">Message</th>
                                        <th style="width:35%">Vendors List</th>
                                        <th style="width:15%">Time</th>
                                        <th style="width:15%">Req Type</th>
                                    </tr>
                                    <tr ng-repeat="Reminders in ListReminders">
                                        <td>
                                            {{Reminders.reminderMessage}}
                                        </td>
                                        <td>
                                            {{Reminders.vendorCompanies}}
                                        </td>
                                        <td>
                                            {{Reminders.sentOn}}
                                        </td>
                                        <td>
                                            {{Reminders.requestType}}
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>



            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>
