<div class="col-md-12 oneTile">
    <div class="card bg-white z-depth-2">
        <div class="card-content">
            <div ng-if="isCustomer != 'CUSTOMER'">
                <dl class="">
                    <dt style="font-size:medium">Q {{order}}: &nbsp;{{item.questionDetails.text}}<a title="Question Attachment" role="button" ng-show="item.questionDetails.attachmentID > 0" href="FileDownload.aspx?attachid={{item.questionDetails.attachmentID}}&sessionid={{sessionID}}" target="_blank" class="pull-right text-primary" style="height:30px" >Question Attachment </a></dt>                    
                </dl>
                <dl class="dl-horizontal" ng-if="item.questionDetails.type == 'DESC'">
                    <textarea ng-model="item.answerText" id="ansID" name="ansName" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.questionDetails.optionsArray track by $index" ng-if="item.questionDetails.type == 'CHECK_BOX'">
                    {{$index + 1}}.&nbsp;<input type="checkbox" value="type" ng-checked="doCheck(option, item.answerArray)" ng-click="directiveToggle(option, item.questionDetails.optionsArray, item.questionDetails.questionID);"> {{option}}</input>
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.questionDetails.optionsArray track by $index" ng-if="item.questionDetails.type == 'RADIO_BUTTON'">
                    {{$index + 1}}.&nbsp;<input type="radio" name="{{item.questionDetails.text}}" ng-checked="item.answerText == option" ng-click="directiveRadio(option, item.questionDetails.questionID);"> {{option}}</input>
                </dl>
                <dl class="dl-horizontal">
                    Comments:
                    <textarea ng-model="item.resComments" id="resCommentsID" name="resCommentsName" rows="2" style="resize: vertical;" class="form-control fg-input"></textarea>                    
                </dl>
                <dl class="">
                    <dd class="">Max Marks : {{item.questionDetails.marks}}</dd>
                    <dt style="font-size:medium">Marks: &nbsp;{{item.userMarks}}</dt>                   
                </dl>
                <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-info btn-file m-r-10  btn-new-look">
                        <span class="fileinput-new">Upload Attachment</span>
                        <span class="fileinput-exists">Change</span>
                        <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" ng-file-select-items="onFileSelect($files)" id="{{item.questionDetails.questionID}}" itemid="{{item.questionDetails.questionID}}" />
                    </span>
                    <span class="fileinput-filename">{{item.attachmentName}}</span>
                    <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                </div>
                <div ng-show="requirementAttachement">
                    <div class="help-block error logininput" ng-show="requirementAttachement">Please attache requirement file</div>
                </div>
                <span class="pull-right" ng-if="item.attachmentID > 0">
                    <a target="_blank" style="font-size:medium" class="text-primary" href="FileDownload.aspx?attachid={{item.attachmentID}}&sessionid={{sessionID}}">
                        <strong>Response Attachment</strong>
                    </a>
                </span>
            </div>

            <div ng-if="isCustomer == 'CUSTOMER'">
                <dl class="">
                    <dt style="font-size:medium">Q {{order}}: &nbsp;{{item.questionDetails.text}}</dt>
                    <dd class="text-right">Max Marks : {{item.questionDetails.marks}}</dd>
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.questionDetails.optionsArray track by $index" ng-if="item.questionDetails.type == 'CHECK_BOX'">
                    {{$index + 1}}.&nbsp;<input ng-disabled="true" type="checkbox" value="type" ng-checked="doCheck(option, item.answerArray)" ng-click="directiveToggle(option, item.questionDetails.optionsArray, item.questionDetails.questionID);"> {{option}}</input>
                </dl>
                <dl class="dl-horizontal" ng-repeat="option in item.questionDetails.optionsArray track by $index" ng-if="item.questionDetails.type == 'RADIO_BUTTON'">
                    {{$index + 1}}.&nbsp;<input ng-disabled="true" type="radio" name="{{item.questionDetails.text}}" ng-checked="item.answerText == option" ng-click="directiveRadio(option, item.questionDetails.questionID);"> {{option}}</input>
                </dl>
                <dl class="">
                    <span ng-if="item.attachmentID > 0">
                        <a target="_blank" class="" href="FileDownload.aspx?attachid={{item.attachmentID}}&sessionid={{sessionID}}">
                            <span class="text-primary">Response Attachment</span><br/>
                        </a>
                    </span>
                    <span style="font-size:medium">
                        <strong>Vendor Response : </strong>
                        <span ng-if="item.questionDetails.type == 'CHECK_BOX'" ng-repeat="answer in item.answerArray  track by $index">{{answer}} ; &nbsp;&nbsp;&nbsp;&nbsp;</span>
                        <span ng-if="item.questionDetails.type != 'CHECK_BOX'">{{item.answerText}}</span>
                    </span>
                    <span class="dl-horizontal">
                        <br/>
                        <strong>Vendor Comments : </strong>{{item.resComments}}                        
                    </span>
                    <input ng-model="item.userMarks" min="0" max="{{item.questionDetails.marks}}" type="number" id="userMarksID" number-input-val name="userMarksName" class="pull-right"></input>
                </dl>
            </div>
            
           
        </div>
    </div>
</div>