﻿
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid">


                <div ng-controller="techevalquestionsCtrl">
                    <div class="white-box">
                        <div class="box-title">
                            <div class="col-md-6 pull-left">
                                <h3>{{questionnaire.title}}</h3>
                            </div>
                            <div class="col-md-2 pull-right">
                                <h3>Total Marks: {{totalMarks}}</h3>
                            </div>
                            <div class="col-md-2 pull-right">
                                <button class="btn btn-info btn-file btn-new-look" data-toggle="modal" ng-click="showPopUpClick(false)">Add New Question</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row">
                                <div class="col-md-12 tilesBackground  z-depth-1">
                                    <div ng-if="load == true">
                                        <mini-items-techeval-questions method="deleteQuestion" method2="editQuestion" ng-repeat="item in questionnaire.questions" item="item" questions="questionnaire.questions"></mini-items-techeval-questions>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-info btn-file btn-new-look" ng-click="cancelResponse();">Back</button>

                                <button ng-if="questionnaire.questions != null && questionnaire.questions != ''" class="btn btn-info btn-file btn-new-look" ng-click="sendquestionnairetovendors();">Send Questionnaire To Vendors</button>
                            </div>
                        </div>
                    </div>

                    <div class="pull-right" ng-hide="showPopUp" style="overflow: hidden;position: fixed;top: 0;right: 0;bottom: 0;left: 0;z-index: 1050;-webkit-overflow-scrolling: touch;outline: 0;" id="addNewQuestion" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal" ng-click="showPopUpClick(true);">&times;</button>
                                    <h4 class="modal-title">Question Details</h4>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="saveQuestionDetails()">Save</button>
                                    <button type="button" data-dismiss="modal" class="btn btn-info" ng-click="showPopUpClick(true)">Cancel</button>
                                </div>
                                <div class="modal-body">
                                    <div class="pmbb-view" style="min-height:300px;max-height:400px;overflow:auto;">
                                        <p class="forgotcolor pull-left" ng-hide="isValidToSubmit">Please fill all required fields marked (*).</p>
                                        <table class="table table-hover table-responsive z-depth-1 clear-both" style="background-color:#f5f5f5">
                                            <tbody>
                                                <tr>
                                                    <td>Title*: <input ng-model="questionDetails.text" id="questionText" name="questionText" class="form-control fg-input" /></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        Question Marks*: <input ng-model="questionDetails.marks" min="0" max="1000000" type="number" id="questionMarksId" number-input-val name="questionMarksId"></input>
                                                        &nbsp;&nbsp;
                                                        <div class="fileinput fileinput-new" data-provides="fileinput">
                                                            <span class="btn btn-info btn-file m-r-10  btn-new-look">
                                                                <span class="fileinput-new zmdi zmdi-hc-1x zmdi-upload">upload</span>
                                                                <span class="fileinput-exists">Change</span>
                                                                <input type="file" accept=".pdf,.xlsx,.xls,.txt,.jpeg,.png,.jpg" id="QuestionAttachement" ng-file-select="onFileSelect($files)" />
                                                            </span>
                                                            <span class="fileinput-filename">{{questionDetails.attachmentName}}</span>
                                                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                                                        </div>
                                                        <div ng-show="requirementAttachement">
                                                            <div class="help-block error logininput" ng-show="requirementAttachement">Please attache requirement file</div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Type*: <div><div configkey="TECH_QUESTION_TYPE" prm-config-select ng-model="questionDetails.type"></div></div></td>
                                                </tr>
                                                <tr ng-hide="questionDetails.type == 'DESC' || questionDetails.type == 'Select Value' || questionDetails.type == ''">
                                                    <td>
                                                        <input ng-model="currentOption" id="currentOption" name="currentOption" class="form-control fg-input" />
                                                        <button class="close" data-dismiss="modal" ng-click="handleOption(currentOption, true);">&#10010;Save Option</button>
                                                    </td>
                                                </tr>
                                                <tr ng-hide="questionDetails.type == 'DESC' || questionDetails.type == 'Select Value' || questionDetails.type == ''">
                                                    <td>
                                                        <b>Options*:</b>
                                                        <span style="max-height:200px;overflow-y:auto;">
                                                            <p ng-repeat="choice in questionChoices">{{choice}} &nbsp;&nbsp;<button class="close" data-dismiss="modal" ng-click="handleOption(choice, false);">&#10006;</button></p>
                                                        </span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>