﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storeitemsCtrl">
            <div class="row ">
            
                <div class="white-box">
                    <div class="row box-title">

                        <div class="form-group col-sm-1">

                            <button class="btn btn-info pull-left" ng-hide="doPrint" ng-click="goToStores()">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i> Stores
                            </button>
                        </div>
                        <div class="col-sm-3">
                            <h4 class="pull-left">{{storeObj.storeCode}} Inventory Details</h4>
                        </div>
                        <div class="form-group fg-float col-sm-2 m-b-30">
                            <div class="fg-line" ng-class="{'fg-toggled': (isEdit===true || storeObj.storeCode)}">
                                <input type="text" ng-model="searchKey" ng-change="search();" name="searchKey" id="searchKey" class="form-control fg-input" esc-clear />
                            </div>
                        </div>

                        <div class="fileinput fileinput-new  pull-right col-sm-1" data-provides="fileinput">
                            <span class="btn btn-info btn-file m-r-10">
                                <span class="fileinput-new">Upload</span>
                                <span class="fileinput-exists">Edit</span>
                                <input type="file" accept=".xlsx" id="excelquotation" itemid="excelquotation" ng-file-select-items="onFileSelect($files)" />
                            </span>
                            <span class="fileinput-filename"></span>
                            <a href="#" class="close fileinput-exists" data-dismiss="fileinput">&times;</a>
                        </div>

                        <div class="row"></div>
                        <div class="form-group col-sm-1">
                            <button class="btn btn-info btn-file  pull-right" ng-hide="!showIsSuperUser()" data-ui-sref="addnewstoreitem({storeID:storeID, itemID:itemID})">New Item</button>
                        </div>
                       
                        <div class="col-sm-2 btn-group  pull-right">
                            <!--<button class="btn btn-info" href="#">Options</button>
        <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></button>-->
                            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
                                <i class="fa fa-cog" aria-hidden="true"></i> Options
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="" ng-click="downloadTemplate()">Download Template</a></li>
                                <li><a class="" ng-click="exportItemsToExcel()">Export</a></li>
                                <li><a class="" ng-click="generategin({storeID:storeID})">Generate GIN</a></li>
                                <li><a class="" ng-click="generategrn({storeID:storeID})">Generate GRN</a></li>
                                <li><a class="" ng-click="ginhistory()">GIN History</a></li>
                                <li><a class="" ng-click="grnhistory()">GRN History</a></li>
                            </ul>
                        </div>
                       
                    </div>

                    <!--<div class="card-body card-padding">-->
                    
                    <!--<div class="row">-->
                    <div class="table table-responsive">
                        <table class="table table-hover table-responsive z-depth-1 clear-both">
                            <thead>
                                <tr style="font-weight: bold">
                                    <td style="width:5%"></td>
                                    <td style="width:15%">Sub Code</td>
                                    <td style="width:10%">Item Desc</td>
                                    <td style="width:10%">Item Code<br />(HSN)</td>
                                    <td style="width:8%">Total Stock</td>
                                    <td style="width:8%">In Stock</td>
                                    <td style="width:8%">On Order</td>
                                    <td style="width:5%">Units</td>
                                    <td style="width:8%">Price</td>
                                    <td style="width:15%">Actions</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="storeitem in companyStoreItemsTemp">
                                    <td style="width:5%">
                                        <input type="checkbox" value="" ng-model="storeitem.isSelected" id="chk{{storeitem.itemID}}" ng-change="itemSelect(storeitem)">
                                    </td>
                                    <td>{{storeitem.itemName}}</td>
                                    <td>{{storeitem.itemDescription}}</td>
                                    <td>{{storeitem.itemCode}}</td>
                                    <td>{{storeitem.totalStock}}</td>
                                    <td>{{storeitem.inStock}}</td>
                                    <td>{{storeitem.onOrder}}</td>
                                    <td>{{storeitem.itemUnits}}</td>
                                    <!--<td>{{storeitem.itemPrice | numToCurrency:INR}}</td>-->
                                    <!--<td>{{storeitem.}}-->
                                    <td>{{storeitem.itemPrice}}</td>
                                    <td data-title="'Actions'" sortable="'Actions'">
                                        <a title="View Store Details" role="button" ng-click="getCompanyStoreItem(storeitem.itemID)" data-target="#loginmodal" data-toggle="modal"><i class="fas fa-info-circle"></i></a>
                                        <a ng-hide="!showIsSuperUser()" title="View and Edit Store Details" role="button" ng-click="goToItemEdit(storeitem)"><i class="fa fa-edit"></i></a>
                                        <a ng-hide="!showIsSuperUser()" title="Delete Store" role="button" ng-click="deletestoreitem(storeitem.itemID);"><i class="fa fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--</div>-->
                </div>
                    <div class="modal" id="loginmodal" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Item Details</h4>
                                </div>
                                <div class="modal-body">

                                <div class="pmbb-view" style="overflow-wrap: break-word;">
                                    <dl class="dl-horizontal">
                                        <dt>Item Code (HSN): </dt>
                                        <dd>{{ singleItemDetails.itemCode }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Sub Code: </dt>
                                        <dd>{{ singleItemDetails.itemName }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Type: </dt>
                                        <dd>{{ singleItemDetails.itemType }}</dd>
                                    </dl>
                                    <!--<dl class="dl-horizontal">
                                        <dt>Item SubType: </dt>
                                        <dd>{{ singleItemDetails.itemSubType }}</dd>
                                    </dl>-->
                                    <dl class="dl-horizontal">
                                        <dt>Item Description:: </dt>
                                        <dd>{{ singleItemDetails.itemDescription }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>TotalStock: </dt>
                                        <dd>{{ singleItemDetails.totalStock }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>In Stock: </dt>
                                        <dd>{{ singleItemDetails.inStock}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>On Order: </dt>
                                        <dd>{{ singleItemDetails.onOrder}}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Units: </dt>
                                        <dd>{{ singleItemDetails.itemUnits }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Item Price: </dt>
                                        <dd>{{ singleItemDetails.itemPrice }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Do Alert: </dt>
                                        <dd>{{ singleItemDetails.doAlert }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>Threshold: </dt>
                                        <dd>{{ singleItemDetails.threshold }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>I-GST: </dt>
                                        <dd>{{ singleItemDetails.iGST }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>C-GST: </dt>
                                        <dd>{{ singleItemDetails.cGST }}</dd>
                                    </dl>
                                    <dl class="dl-horizontal">
                                        <dt>S-GST: </dt>
                                        <dd>{{ singleItemDetails.sGST }}</dd>
                                    </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






 <!--ng-if="showStoreItemObj.StoreItem"-->