﻿<header id="header" data-ng-include="'template/header.html'"></header>
<div id="wrapper">
    <aside id="sidebar" data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.left === true }"></aside>
    <aside id="chat" data-ng-include="'template/chat.html'" data-ng-class="{ 'toggled': mactrl.sidebarToggle.right === true }"></aside>
    <div id="page-wrapper">
        <div class="container-fluid" ng-controller="storegrnhistoryCtrl">
            <div class="row ">
            </div>
            <div class="white-box">
                <div class="box-title col-md-12">
                    <div class="col-md-3 pull-left">
                        <h3>GRN History</h3>
                    </div>
                    <div class="col-md-9 pull-right">
                        <div class="col-md-1 top-buffer pull-right">
                            <button class="btn btn-info btn-new-look" ng-click="cancelClick()">Back</button>
                        </div>
                    </div>
                </div>

                <!--<div class="card-body card-padding">-->
                <div class="row">
                    <!--<div class="row">-->
                        <div class="table table-responsive">
                            <table class="table table-hover  z-depth-1 clear-both" style="background-color:#f5f5f5">
                                <thead>
                                    <tr style="font-weight: bold">
                                        <td style="width:10%">GRN Code</td>
                                        <td style="width:10%">Indent No</td>
                                        <td style="width:10%">PO No</td>
                                        <td style="width:15%">Supplier Name</td>
                                        <td style="width:10%">Received Date</td>
                                        <td style="width:10%">Received By</td>
                                        <td style="width:10%">Verified By</td>
                                        <td style="width:25%">Comments</td>
                                        <td style="width:10%"></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="grnDetails in storeItemGRNArray">
                                        <td>{{grnDetails.grnCode}}</td>
                                        <td>{{grnDetails.indentNo}}</td>
                                        <td>{{grnDetails.poNo}}</td>
                                        <td>{{grnDetails.supplierName}}</td>
                                        <td>{{handleDate(grnDetails.receiveDate)}}</td>
                                        <td>{{grnDetails.receivedBy}}</td>
                                        <td>{{grnDetails.checkedBy}}</td>
                                        <td>{{grnDetails.comments}}</td>
                                        <td>
                                            <button class="btn btn-info btn-file btn-new-look" ng-click="selectGrnDetails(grnDetails)">Details</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<footer id="footer" data-ng-include="'template/footer.html'"></footer>






<!--ng-if="showStoreItemObj.StoreItem"-->