﻿<label id="FeatureCode" ng-hide="featureCodeHide == true">#CB-0-2018-12-05</label>
<div class="fix-header">
    <div id="wrapper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="cb-customerCtrl">
                <div class="white-box" ng-show="displayData">

                    <div class="row">
                        <div class="col-md-6">
                            <h3>
                                <b id="req Id">Req Number:</b> {{auctionItem.requirementNumber}}
                                <b id="reqTitle">Title:</b> {{auctionItem.title}}
                                <small>
                                    <a title="Requirement PDF" target="_blank" ng-show="auctionItem.reqPDFCustomer" href="FileDownload.aspx?attachid={{auctionItem.reqPDFCustomer}}&sessionid={{sessionid}}"><i class="fa fa-download "></i></a>
                                </small>
                            </h3>
                        </div>
                        <div class="col-md-6 text-right">
                            <div class="col-md-12 pull-right">
                                <span style="color:#3b5998;" role="button" ng-click="recalculate('', 0, true)"><i class="fa fa-sync"></i> Refresh </span>
                            </div>
                            <div class="col-md-12 pull-right">
                                <label ng-if="auctionItem.CB_TIME_LEFT > 0">Negotiation Ends in :</label>
                                <timer countdown="auctionItem.timeLeft"
                                       ng-if="auctionItem.timeLeft > 0"
                                       interval="1000"
                                       style="font-size:30px;color:rgb(34, 139, 34);">
                                    {{ddays}}:{{hhours}}:{{mminutes}}:{{sseconds}}
                                </timer>
                                <!--end-time="auctionItem.CB_END_TIME"-->
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2"
                             ng-repeat="vendor in auctionItemVendor.requirementVendorsList"
                             ng-show="vendor.quotationUrl !='' &&
                             auctionItem.IS_CB_ENABLED == true &&
                             vendor.isQuotationRejected != 1 && 
                             vendor.companyName != 'PRICE_CAP' && 
                             vendor.isQuotationRejected == 0">
                            <label style="font-size:15px;"
                                   ng-click="goToCbCustomer(vendor.vendorID);"
                                   role="button"
                                   data-ng-class="{ 'bold-font-prm': vendor.isDisplaying === true }">
                                <input type="radio"
                                       id="{{vendor.vendorID}}"
                                       ng-value="true"
                                       ng-model="vendor.isDisplaying" />
                                {{vendor.companyName}}
                            </label>
                            <small>&nbsp;&nbsp;(Rank: <strong>{{(vendor.rank == 0 || vendor.revVendorTotalPrice == 0)?'NA':vendor.rank}}</strong>; Currency: <strong>{{vendor.selectedVendorCurrency}}</strong>)</small>
                            <br />
                            <small>&nbsp;&nbsp;(Price: <strong>{{vendor.revVendorTotalPrice | number : companyRoundingDecimalSetting}}</strong>)</small>
                            <br />
                            <small>&nbsp;&nbsp;(CB Price: <strong>{{vendor.revVendorTotalPriceCB | number : companyRoundingDecimalSetting}}</strong>)</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 form-group fg-float">
                            <div class="fg-line input-field" ng-class="{'fg-toggled': true===true}">
                                <label><strong>INCO Terms</strong></label>
                                <select ng-model="auctionItem.auctionVendors[0].INCO_TERMS" ng-change="fieldValidation()"
                                        ng-options="IT.configValue as IT.configValue for IT in companyINCOTerms | filter:shouldShow"
                                        class="form-control"
                                        placeholder="Select INCO Terms"
                                        ng-if="auctionItem.auctionVendors[0].isQuotationRejected != 0"></select>
                                <input ng-disabled="true"
                                       ng-if="auctionItem.auctionVendors[0].isQuotationRejected == 0"
                                       type="text" ng-model="auctionItem.auctionVendors[0].INCO_TERMS" id="INCO_TERMS" name="INCO_TERMS"
                                       class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        &nbsp;
                    </div>

                    <div class="row">
                        <div class="col-md-12 table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>
                                            {{prmFieldMappingDetails.PRODUCT_NAME.FIELD_LABEL}}
                                        </th>
                                        <th>
                                            {{prmFieldMappingDetails.PRODUCT_NUMBER.FIELD_LABEL}}
                                        </th>
                                        <th>
                                            {{prmFieldMappingDetails.PRODUCT_HSNCODE.FIELD_LABEL}}
                                        </th>
                                        <th>
                                            {{prmFieldMappingDetails.PRODUCT_MAKE_MODEL.FIELD_LABEL}}
                                        </th>
                                        <th>
                                            {{prmFieldMappingDetails.PRODUCT_QUANTITY.FIELD_LABEL}}
                                        </th>
                                        <!--<th>
        TAX %
    </th>-->
                                        <th>
                                            CGST
                                        </th>
                                        <th>
                                            SGST
                                        </th>
                                        <th>
                                            IGST
                                        </th>
                                        <th>
                                            UNIT PRICE
                                        </th>
                                        <th ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            DISCOUNT
                                        </th>
                                        <th ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            REDUCTION PRICE
                                        </th>
                                        <th>
                                            TOTAL ITEM PRICE
                                        </th>
                                        <th ng-if="auctionItemVendor.isDiscountQuotation ==  0">
                                            REV UNIT PRICE
                                        </th>
                                        <th ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            REV DISCOUNT
                                        </th>
                                        <th ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            REV REDUCTION PRICE
                                        </th>
                                        <th>
                                            REVISED ITEM PRICE
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="product in auctionItemVendor.auctionVendors[0].listRequirementItems">
                                        <td>
                                            <textarea type="text"
                                                      ng-model="product.productIDorName"
                                                      required
                                                      name="productIDorName"
                                                      rows="2"
                                                      style="resize: vertical;"
                                                      id="productIDorName"
                                                      class="form-control fg-input"
                                                      ng-disabled="true">
                                            </textarea>
                                        </td>
                                        <td>
                                            <textarea type="text"
                                                      ng-model="product.productNo"
                                                      required
                                                      name="productNo"
                                                      rows="2"
                                                      style="resize: vertical;"
                                                      id="productNo"
                                                      class="form-control fg-input"
                                                      ng-disabled="true"
                                                      ng-show="product.isCoreProductCategory > 0">
                                            </textarea>
                                        </td>
                                        <td>
                                            <textarea type="text"
                                                      ng-model="product.hsnCode"
                                                      required
                                                      name="productNo"
                                                      rows="2"
                                                      style="resize: vertical;"
                                                      id="productNo"
                                                      class="form-control fg-input"
                                                      ng-disabled="true"
                                                      ng-show="product.isCoreProductCategory > 0">
                                            </textarea>
                                        </td>
                                        <td>
                                            <textarea type="text"
                                                      ng-model="product.productBrand"
                                                      class="form-control"
                                                      rows="2"
                                                      style="resize: vertical;"
                                                      ng-disabled="true"
                                                      ng-show="product.isCoreProductCategory > 0">
                                            </textarea>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   ng-model="product.productQuantity"
                                                   class="form-control"
                                                   ng-disabled="true"
                                                   ng-show="product.isCoreProductCategory > 0" />
                                            <span ng-show="product.isCoreProductCategory > 0">
                                                {{product.productQuantityIn}}
                                            </span>
                                        </td>
                                        <!--<td>
        <input type="text"
               ng-model="product.Gst"
               ng-change="getCalculatedPrices()"
               valid-number allow-decimal="true" allow-negative="false"
               class="form-control"
               ng-disabled="true" />
    </td>-->
                                        <td>
                                            <input type="text"
                                                   ng-model="product.cGst"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>

                                        <td>
                                            <input type="text"
                                                   ng-model="product.sGst"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>

                                        <td>
                                            <input type="text"
                                                   ng-model="product.iGst"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>
                                        <td>
                                            <input type="text"
                                                   ng-model="product.unitPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>
                                        <td ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            <input type="text"
                                                   ng-model="product.unitDiscount"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>
                                        <td ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            <input type="text"
                                                   ng-model="product.reductionPrice"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>
                                        <td>
                                            <input type="text"
                                                   ng-model="product.itemPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </td>
                                        <td ng-if="auctionItemVendor.isDiscountQuotation ==  0">
                                            <input type="text"
                                                   ng-model="product.revUnitPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control" ng-disabled="true" />
                                            <input type="text"
                                            ng-model="product.revUnitPriceCB"
                                            ng-change="getCalculatedPrices()"
                                            valid-number allow-decimal="true" allow-negative="false"
                                            class="form-control"
                                            style="color:chocolate;margin-top:1px;"
                                            ng-style="!(product.isEdit || product.isItemQuotationRejected > 0) && cbStartedInputColour"
                                            ng-disabled="product.isEdit || product.isItemQuotationRejected > 0 || product.isRegret" />
                                            <small>Least Price</small>:<strong style="color:chocolate;margin-top:1px;">{{product.ITEM_LEVEL_LEAST_PRICE | number : companyRoundingDecimalSetting}}</strong>
                                        </td>
                                        <td ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            <input type="text"
                                                   ng-model="product.revUnitDiscount"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control" ng-disabled="true" />
                                           
                                            <input type="text"
                                                   ng-model="product.revUnitDiscountCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   style="color:chocolate;margin-top:1px;"
                                                   ng-style="!(product.isEdit || product.isItemQuotationRejected > 0) && cbStartedInputColour"
                                                   ng-disabled="product.isEdit || product.isItemQuotationRejected > 0 || product.isRegret" />
                                            <small>Least Price</small>:<strong style="color:chocolate;margin-top:1px;">{{product.ITEM_LEVEL_LEAST_PRICE | number : companyRoundingDecimalSetting}}</strong>
                                        </td>
                                        <td ng-if="auctionItemVendor.isDiscountQuotation ==  1">
                                            <input type="text"
                                                   ng-model="product.revReductionPrice"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Reduction</small>:<strong style="color:chocolate;margin-top:1px;">{{product.revReductionPriceCB | number : companyRoundingDecimalSetting}}</strong>
                                        </td>
                                        <td>
                                            <input type="text"
                                                   ng-model="product.revitemPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{product.revitemPriceCB | number : companyRoundingDecimalSetting}}</strong>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-12" >
                            <div class="row" style="border-bottom: 1px solid lightgray;" ng-hide="true">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Price</strong>
                                        </div>
                                        <div class="col-md-4">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].initialPriceWithOutTaxFreight"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revPriceCB | number : companyRoundingDecimalSetting}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid lightgray;" ng-hide="true">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Packing & Forward Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].packingCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="packingCharges" name="packingCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].packingChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="packingChargesTax"
                                                           name="packingChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].packingChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revpackingCharges" name="revpackingCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revpackingCharges" name="revpackingCharges"
                                                   class="form-control"
                                                   style="color:chocolate;margin-top:1px;"
                                                   required 
                                                   ng-style="cbStartedInputColour" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revpackingChargesWithTaxCB | number : companyRoundingDecimalSetting}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid lightgray;" ng-hide="true">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Installation Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].installationCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="installationCharges" name="installationCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].installationChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="installationChargesTaxPercentage"
                                                           name="installationChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].installationChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revinstallationCharges" name="revinstallationCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revinstallationCharges" name="revinstallationCharges"
                                                   class="form-control"
                                                   required style="color:chocolate;margin-top:1px;" 
                                                   ng-style="cbStartedInputColour" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revinstallationChargesWithTaxCB | number : companyRoundingDecimalSetting}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="border-bottom: 1px solid lightgray;" ng-hide="true">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Freight Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].freightCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="freightCharges" name="freightCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].freightChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="freightChargesTaxPercentage"
                                                           name="freightChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].freightChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revfreightCharges" name="revfreightCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revfreightChargesCB" name="revfreightChargesCB"
                                                   class="form-control"
                                                   required style="color:chocolate;margin-top:1px;" 
                                                   ng-style="cbStartedInputColour" />
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revfreightChargesWithTaxCB | number : companyRoundingDecimalSetting}}</strong>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row top-half-buffer" style="border-bottom: 1px solid lightgray;">
                                <div class="col-md-3 text-right">
                                    <strong>Total Price(Including All Charges)</strong>
                                </div>
                                <div class="col-md-4">
                                    <inut ng-disabled="true" />
                                </div>

                                <div class="col-md-2">
                                    <input type="text"
                                           ng-model="auctionItemVendor.auctionVendors[0].totalInitialPrice"
                                           ng-change="getCalculatedPrices()"
                                           valid-number allow-decimal="true" allow-negative="false"
                                           class="form-control"
                                           ng-disabled="true" />
                                </div>
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           ng-model="auctionItemVendor.auctionVendors[0].revVendorTotalPrice"
                                           ng-change="getCalculatedPrices()"
                                           valid-number allow-decimal="true" allow-negative="false"
                                           class="form-control"
                                           ng-disabled="true" />
                                    <small>Target Price</small>:<strong style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revVendorTotalPriceCB | number : companyRoundingDecimalSetting}}</strong>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="border:1px solid lightgray" ng-hide="true">

                        <div class="col-md-12">
                            <br />
                            <strong>{{auctionItemVendor.auctionVendors[0].companyName}}</strong>
                            <div class="row"
                                 ng-repeat="product in auctionItemVendor.auctionVendors[0].listRequirementItems">
                                <fieldset ng-disabled="product.isRegret == true">
                                    <hr style="height:1px;border:none;color:#333;background-color:#333;">
                                    
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-8"
                                                 ng-hide="productIDorName_Hide">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <strong>PRODUCT NAME</strong>
                                                        <textarea type="text"
                                                                  ng-model="product.productIDorName"
                                                                  required
                                                                  name="productIDorName"
                                                                  rows="4"
                                                                  style="resize: vertical;"
                                                                  id="productIDorName"
                                                                  class="form-control fg-input"
                                                                  ng-disabled="true">
                                                    </textarea>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>PRODUCT NUMBER</strong>
                                                        <textarea type="text"
                                                                  ng-model="product.productNo"
                                                                  required
                                                                  name="productNo"
                                                                  rows="4"
                                                                  style="resize: vertical;"
                                                                  id="productNo"
                                                                  class="form-control fg-input"
                                                                  ng-disabled="true">
                                                    </textarea>
                                                    </div>
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <strong>PRODUCT DESCRIPTION</strong>
                                                        <textarea type="text"
                                                                  ng-model="product.productNo"
                                                                  required
                                                                  name="productNo"
                                                                  rows="3"
                                                                  style="resize: vertical;"
                                                                  id="productNo"
                                                                  class="form-control fg-input"
                                                                  ng-disabled="true">
                                                        </textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <div class="row">

                                                    <div class="col-md-6">
                                                        <strong>QTY</strong>
                                                        <input type="text"
                                                               ng-model="product.productQuantity"
                                                               class="form-control"
                                                               ng-disabled="true" />
                                                    </div>
                                                    <div class="col-md-6">
                                                        <strong>TAX %</strong>
                                                        <input type="text"
                                                               ng-model="product.Gst"
                                                               ng-change="getCalculatedPrices()"
                                                               valid-number allow-decimal="true" allow-negative="false"
                                                               class="form-control"
                                                               ng-disabled="true" />
                                                    </div>
                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <strong>UOM</strong>
                                                        <textarea type="text"
                                                                  ng-model="product.productQuantityIn"
                                                                  class="form-control"
                                                                  rows="1"
                                                                  style="resize: vertical;"
                                                                  ng-disabled="true">
                                                    </textarea>
                                                    </div>

                                                    <div class="col-md-12">&nbsp;</div>
                                                    <div class="col-md-12">
                                                        <strong>BRAND</strong>
                                                        <textarea type="text"
                                                                  ng-model="product.productBrand"
                                                                  class="form-control"
                                                                  rows="2"
                                                                  style="resize: vertical;"
                                                                  ng-disabled="true">
                                                    </textarea>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <strong>UNIT PRICE</strong>
                                                <input type="text"
                                                       ng-model="product.unitPrice"
                                                       ng-change="getCalculatedPrices()"
                                                       valid-number allow-decimal="true" allow-negative="false"
                                                       class="form-control"
                                                       ng-disabled="true" />
                                            </div>

                                            <div class="col-md-4">
                                                <strong>TOTAL.ITEM.PRICE</strong>
                                                <input type="text"
                                                       ng-model="product.itemPrice"
                                                       ng-change="getCalculatedPrices()"
                                                       valid-number allow-decimal="true" allow-negative="false"
                                                       class="form-control"
                                                       ng-disabled="true" />
                                            </div>

                                            <div class="col-md-12">
                                                &nbsp;
                                            </div>

                                            <div class="col-md-3">
                                                <strong>REV.UNIT.PRICE</strong>
                                                <input type="text"
                                                       ng-model="product.revUnitPrice"
                                                       ng-change="getCalculatedPrices()"
                                                       valid-number allow-decimal="true" allow-negative="false"
                                                       class="form-control" ng-disabled="true" />
                                                <input type="text"
                                                       ng-model="product.revUnitPriceCB"
                                                       ng-change="getCalculatedPrices()"
                                                       valid-number allow-decimal="true" allow-negative="false"
                                                       class="form-control"
                                                       style="color:chocolate;margin-top:1px;" />
                                            </div>

                                            <div class="col-md-4">
                                                <strong>REVISED.ITEM.PRICE</strong>
                                                <input type="text"
                                                       ng-model="product.revitemPrice"
                                                       ng-change="getCalculatedPrices()"
                                                       valid-number allow-decimal="true" allow-negative="false"
                                                       class="form-control"
                                                       ng-disabled="true" />
                                                <h4 style="color:chocolate;margin-top:1px;">{{product.revitemPriceCB | number : companyRoundingDecimalSetting}}</h4>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                &nbsp;
                                            </div>
                                            <div class="col-md-6 top-buffer text-right">
                                                
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>

                            </div>
                        </div>
                        <div class="col-md-12">&nbsp;</div>
                        <div class="col-md-12">
                            <div class="row" style="border-bottom: 1px solid lightgray; border-top: 1px solid #333;">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Price</strong>
                                        </div>
                                        <div class="col-md-4">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].initialPriceWithOutTaxFreight"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            &nbsp;
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revPrice"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <h4 style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revPriceCB | number : companyRoundingDecimalSetting}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid lightgray;">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Packing & Forward Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].packingCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="packingCharges" name="packingCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].packingChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="packingChargesTax"
                                                           name="packingChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].packingChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revpackingCharges" name="revpackingCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revpackingCharges" name="revpackingCharges"
                                                   class="form-control"
                                                   style="color:chocolate;margin-top:1px;" required>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revpackingChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <h4 style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revpackingChargesWithTaxCB | number : companyRoundingDecimalSetting}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" style="border-bottom: 1px solid lightgray;">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Installation Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].installationCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="installationCharges" name="installationCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].installationChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="installationChargesTaxPercentage"
                                                           name="installationChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].installationChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revinstallationCharges" name="revinstallationCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revinstallationCharges" name="revinstallationCharges"
                                                   class="form-control"
                                                   required style="color:chocolate;margin-top:1px;">
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revinstallationChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <h4 style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revinstallationChargesWithTaxCB | number : companyRoundingDecimalSetting}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row" style="border-bottom: 1px solid lightgray;">
                                <div class="col-md-12 m-t-10">
                                    <div class="row">
                                        <div class="col-md-3 text-right">
                                            <strong>Freight Charges</strong>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].freightCharges"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="freightCharges" name="freightCharges"
                                                           class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                                <div class="col-md-4">
                                                    <strong>Tax %</strong>
                                                </div>
                                                <div class="col-md-4">
                                                    <input type="text"
                                                           ng-model="auctionItemVendor.auctionVendors[0].freightChargesTaxPercentage"
                                                           ng-change="getCalculatedPrices()"
                                                           valid-number allow-decimal="true" allow-negative="false"
                                                           id="freightChargesTaxPercentage"
                                                           name="freightChargesTax" class="form-control text-center" required
                                                           ng-disabled="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].freightChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                        </div>
                                        <div class="col-md-1">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightCharges"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revfreightCharges" name="revfreightCharges"
                                                   class="form-control" required
                                                   ng-disabled="true" />
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightChargesCB"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   id="revfreightChargesCB" name="revfreightChargesCB"
                                                   class="form-control"
                                                   required style="color:chocolate;margin-top:1px;">
                                        </div>
                                        <div class="col-md-2">
                                            <input type="text"
                                                   ng-model="auctionItemVendor.auctionVendors[0].revfreightChargesWithTax"
                                                   ng-change="getCalculatedPrices()"
                                                   valid-number allow-decimal="true" allow-negative="false"
                                                   class="form-control"
                                                   ng-disabled="true" />
                                            <h4 style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revfreightChargesWithTaxCB | number : companyRoundingDecimalSetting}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="row top-half-buffer" style="border-bottom: 1px solid lightgray;">
                                <div class="col-md-3 text-right">
                                    <strong>Total Price(Including All Charges)</strong>
                                </div>
                                <div class="col-md-4">
                                    <inut ng-disabled="true" />
                                </div>

                                <div class="col-md-2">
                                    <input type="text"
                                           ng-model="auctionItemVendor.auctionVendors[0].totalInitialPrice"
                                           ng-change="getCalculatedPrices()"
                                           valid-number allow-decimal="true" allow-negative="false"
                                           class="form-control"
                                           ng-disabled="true" />
                                </div>
                                <div class="col-md-1">
                                    &nbsp;
                                </div>
                                <div class="col-md-2">
                                    <input type="text"
                                           ng-model="auctionItemVendor.auctionVendors[0].revVendorTotalPrice"
                                           ng-change="getCalculatedPrices()"
                                           valid-number allow-decimal="true" allow-negative="false"
                                           class="form-control"
                                           ng-disabled="true" />
                                    <h4 style="color:chocolate;margin-top:1px;">{{auctionItemVendor.auctionVendors[0].revVendorTotalPriceCB | number : companyRoundingDecimalSetting}}</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        &nbsp;
                    </div>
                    
                    <div class="row">
                        <div class="col-md-4">
                            <textarea type="text" 
                                      ng-model="bidComments" 
                                      placeholder="Bid Comments" 
                                      class="form-control" 
                                      rows="2" 
                                      style="resize: vertical;"
                                      ng-style="cbStartedInputColour"></textarea>
                        </div>
                        <div class="col-md-8 text-right">
                            <div class="row">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4" ng-show="auctionItemVendor.status != 'Negotiation Ended'">
                                    <div class="row">
                                        <div class="col-md-12" ng-show="!submitToAllVendors">
                                            <button ng-click="SaveCBPrices(auctionItemVendor.auctionVendors[0].vendorID);"
                                                    ng-show="auctionItemVendor.auctionVendors[0].FREEZE_CB == false &&
                                                        auctionItemVendor.auctionVendors[0].VEND_FREEZE_CB == false &&
                                                        auctionItemVendor.IS_CB_COMPLETED == false"
                                                    class="btn btn-info">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </button>
                                        </div>
                                        <div class="col-md-12" ng-show="submitToAllVendors">
                                            <button ng-click="SaveCBPricesToAll();"
                                                    ng-show="auctionItemVendor.auctionVendors[0].FREEZE_CB == false &&
                                                        auctionItemVendor.auctionVendors[0].VEND_FREEZE_CB == false &&
                                                        auctionItemVendor.IS_CB_COMPLETED == false"
                                                    class="btn btn-warning">
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                            </button>
                                        </div>
                                        <div class="col-md-12">
                                            <span ng-show="!differentCurrencySelected" ng-hide="disableApplyToAll">
                                                <br />
                                                <input type="checkbox" 
                                                       ng-model="submitToAllVendors" 
                                                       value="true"
                                                       ng-disabled="disableApplyToAll"
                                                />
                                                <!--ng-disabled="auctionItemVendor.requirementVendorsList[0].vendorID != spVendorID"--> 
                                                <smal ng-class="{ 'text-danger': submitToAllVendors === true }">
                                                    <strong>Apply prices to all vendors.</strong>
                                                    <br/>
                                                    <strong ng-show="auctionItemVendor.requirementVendorsList[0].vendorID != spVendorID"
                                                            class="text-warning">
                                                        <small>Select first vendor to get <br/>apply to all vendors option.</small>
                                                    </strong>
                                                </smal>
                                            </span>
                                            <br />
                                            <br />
                                            <small class="text-warning" ng-show="auctionItemVendor.auctionVendors[0].isQuotationRejected != 0">
                                                <strong>Vendor cannot submit counter prices untill you approve the vendor quotation.</strong>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                
                                
                                <div class="col-md-4">

                                    <button ng-click="FreezeCounterBid(1);"
                                            ng-disabled="submitToAllVendors"
                                            ng-show="auctionItemVendor.auctionVendors[0].FREEZE_CB == false &&
                                                    auctionItemVendor.auctionVendors[0].VEND_FREEZE_CB == false &&
                                                    auctionItemVendor.IS_CB_COMPLETED == false &&
                                                    !hideFreeze"
                                            class="btn btn-info">
                                        FREEZE
                                    </button>
                                    <button ng-disabled="true"
                                            ng-show="auctionItemVendor.auctionVendors[0].FREEZE_CB == true"
                                            class="btn btn-info">
                                        PRICES ARE FREEZED
                                    </button>
                                    <button ng-click="FreezeCounterBid(0);"
                                            ng-disabled="submitToAllVendors"
                                            ng-show="auctionItemVendor.IS_CB_COMPLETED == false  && 
                                                     (auctionItemVendor.auctionVendors[0].FREEZE_CB == true ||
                                                    auctionItemVendor.auctionVendors[0].VEND_FREEZE_CB == true)"
                                            class="btn btn-info">
                                        UNFREEZE
                                    </button>
                                    <button ng-disabled="true"
                                            ng-show="auctionItemVendor.auctionVendors[0].VEND_FREEZE_CB == true"
                                            class="btn btn-info">
                                        VENDOR FREEZED PRICES
                                    </button>
                                    <button ng-disabled="true"
                                            ng-show="auctionItemVendor.IS_CB_COMPLETED == true"
                                            class="btn btn-info">
                                        COUNTER BID COMPLETED
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row text-center">
                        &nbsp;
                    </div>

                    <div class="row" ng-hide="true">

                        <div class="white-box">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="box-title"><i class="fa fa-truck" style="color: #ec335f;"></i><strong> Delivery Terms</strong></h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Timelines:</label>
                                                <br>
                                                <strong class="hyphenate" ng-bind-html="deliveryTime"></strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Location:</label>
                                                <br>
                                                <strong class="hyphenate" ng-bind-html="deliveryLocation"></strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6" ng-show="userIsOwner  && !isDeleted">
                                            <div class="form-group">
                                                <label class="control-label">Category:</label>
                                                <br>
                                                <strong>{{auctionItem.category[0]}}</strong>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="control-label">Contact Details:</label>
                                                <br>
                                                <strong>{{auctionItem.contactDetails}}</strong>
                                            </div>
                                        </div>



                                        <div class="col-md-12" ng-show="auctionItem.isContract == true">
                                            <h3 class="box-title"><i class="fa fa-clock" style="color: #ec335f;"></i><strong> Contract Time</strong></h3>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">Start Time:</label>
                                                        <br>
                                                        <strong>{{auctionItem.contractStartTime}}</strong>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="control-label">End Time:</label>
                                                        <br>
                                                        <strong>{{auctionItem.contractEndTime}}</strong>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="box-title"><i class="fa fa-dollar-sign" style="color: #ec335f;"></i><strong> Payment Terms</strong></h3>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">Timelines:</label>
                                                <br>
                                                <strong class="hyphenate" ng-bind-html="paymentTerms"></strong>
                                            </div>
                                        </div>

                                        <div class="col-md-6" ng-show="userIsOwner  && !isDeleted">
                                            <div class="form-group">
                                                <label class="control-label">Technical Evaluation:</label>
                                                <br>
                                                <strong>{{techEval}}<span ng-show="!selectedQuestionnaire">No Tech Evaluation</span></strong>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="control-label">General Terms & Conditions:</label>
                                                <br>
                                                <strong>{{auctionItem.generalTC}}</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="white-box">
                            <div class="row">
                                <h3>REQUIREMENT ITEMS</h3>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                {{prmFieldMappingDetails.PRODUCT_NAME.FIELD_LABEL}}
                                            </th>
                                            <th>
                                                {{prmFieldMappingDetails.PRODUCT_NUMBER.FIELD_LABEL}}
                                            </th>
                                            <th>
                                                {{prmFieldMappingDetails.PRODUCT_ITEMDETAILS.FIELD_LABEL}}
                                            </th>
                                            <th>
                                                {{prmFieldMappingDetails.PRODUCT_MAKE_MODEL.FIELD_LABEL}}
                                            </th>
                                            <th>
                                                OTHER BRAND
                                            </th>
                                            <th>
                                                {{prmFieldMappingDetails.PRODUCT_QUANTITY.FIELD_LABEL}}
                                            </th>
                                            <th>
                                                FILE
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="product in auctionItemVendor.listRequirementItems">
                                            <td>
                                                {{product.productIDorName}}
                                            </td>
                                            <td>
                                                {{product.productNo}}
                                            </td>
                                            <td>
                                                {{product.productDescription}}
                                            </td>
                                            <td>
                                                {{product.productBrand}}
                                            </td>
                                            <td>
                                                {{product.othersBrands}}
                                            </td>
                                            <td>
                                                {{product.productQuantity}}  {{product.productQuantityIn}}
                                            </td>
                                            <td>
                                                <h5 ng-show="product.productImageID!=''"><a target="_blank" href="FileDownload.aspx?attachid={{product.productImageID}}&sessionid={{sessionid}}"><i class="fa fa-download"></i></a></h5>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="white-box">
                            <div class="row">
                                Posted On:<strong> {{auctionItem.postedOn}} </strong> By:<strong> {{auctionItem.custFirstName}} {{auctionItem.custLastName}}</strong>
                            </div>
                        </div>

                    </div>

                    <div class="row text-center">
                        &nbsp;
                    </div>

                    <div class="row">
                        <div class="white-box">
                            <div class="row">
                                <table class="table table-bordered" ng-table="tctrl.tableSorting">
                                    <tr ng-repeat-start="bid in CBPricesAudit" ng-style="(spVendorID  == bid.CREATED_BY) && {'color':'chocolate', 'background':'#e8f7f7'}">
                                        <td data-title="''">
                                            <a role="button" ng-hide="auction.expanded" ng-click="auction.expanded = true" style="margin-right:15px"><i class="fa fa-angle-right fa-2x"></i></a>
                                            <a role="button" ng-hide="!auction.expanded" ng-click="auction.expanded = false" style="margin-right:15px"><i class="fa fa-angle-down fa-2x"></i></a>
                                        </td>
                                        <td data-title="'S.NO'">
                                            {{$index + 1}}
                                        </td>
                                        <td data-title="'COUNTER BID'">
                                            {{bid.U_FNAME}} {{bid.U_LNAME}} ({{bid.COMPANY_NAME}})
                                        </td>
                                        <td data-title="'ITEM LEVEL TOTAL PRICE'">
                                            {{bid.REV_TOTAL_PRICE_WITHOUTTAX | number: companyRoundingDecimalSetting}}
                                        </td>
                                        <td data-title="'QUOTATION TOTAL PRICE'">
                                            {{bid.REV_TOTAL_PRICE | number: companyRoundingDecimalSetting}}
                                        </td>
                                        <td data-title="'TIME'">
                                            {{GetDateconverted(bid.DATE_CREATED)}}
                                        </td>
                                        <td data-title="'BID COMMENTS'">
                                            {{bid.BID_COMMENTS}}
                                        </td>
                                    </tr>
                                    <tr ng-repeat-end ng-show="auction.expanded">
                                        <td colspan="10">
                                            <table class="table table-bordered" ng-table="tctrl.tableSorting">
                                                <tr ng-repeat="item in bid.CBItemPricesList">
                                                    <td data-title="'ITEM NAME'">
                                                        {{item.ITEM_NAME}}
                                                    </td>
                                                    <td data-title="'UNIT PRICE'">
                                                        {{item.REV_UNIT_PRICE | number: companyRoundingDecimalSetting}}
                                                    </td>
                                                    <td data-title="'ITEM TOTAL PRICE'">
                                                        {{item.REV_ITEM_PRICE | number: companyRoundingDecimalSetting}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="white-box" ng-show="!displayData">
                    <div class="row text-center">
                        Loading Data...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="footer" data-ng-include src="'template/footer.html'"></footer>

<style>
    .lastbidvendorclr {
        background-color: lightgreen
    }
</style>





