﻿<div class="fix-header">
    <div id="wraper">
        <header data-ng-include="'template/header.html'" data-ng-controller="headerCtrl as hctrl"></header>
        <aside data-ng-include="'template/sidebar-left.html'" data-ng-class="{ 'toggled': mactrl.sidebartoggle.left === true }"></aside>
        <!--<script src="https://code.highcharts.com/highcharts-more.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
        <script src="https://code.highcharts.com/modules/solid-gauge.src.js"></script>-->
        <div id="page-wrapper">
            <div class="container-fluid" data-ng-controller="contractSpendCtrl">
                <div class="white-box col-md-12 form-group">

                    <div class="col-md-12 text-center">
                        <h4><label>Procurement Percentage of Contract Spend</label></h4>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 hoverTransition04">
                            <!--<div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="contractSpend"></div>
                                </div>
                            </div>-->
                            <div class="col-md-12 white-box whiteBorders hoverTransition04">
                                <div id="contractSpend"></div>
                            </div>
                        </div>
                        <div class="col-md-4 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                Parts per Supplier
                                <div>
                                    <h4 style="color:black"> 48.06</h4>
                                </div>
                                #of suppliers Month
                                <div>
                                    <h4 style="color:black">90</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders hoverTransition04">
                                <div id="totalSavings"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-4 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="categoriesBySpend"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="supplierPerMonth"></div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 hoverTransition04">
                            <div class="col-md-12 white-box whiteBorders">
                                <div class="col-md-12 " style="overflow-x :auto">
                                    <div id="savingsPerMonth"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <table class="table table-striped table-vmiddle ">
                            <thead>
                                <tr>
                                    <th>
                                        Product Name
                                    </th>
                                    <th>
                                        Min Price
                                    </th>
                                    <th>
                                        Last Price Paid
                                    </th>
                                    <th>
                                        Max Price
                                    </th>
                                    <th>
                                        Quantity
                                    </th>
                                    <th>
                                        Potential Saving
                                    </th>
                                    <th>
                                        Current Saving
                                    </th>
                                    <th>
                                        Spend
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Product Name1</td>
                                    <td>2.20</td>
                                    <td>273.20</td>
                                    <td>2.20</td>
                                    <td>405</td>
                                    <td>1600</td>
                                    <td>2.20</td>
                                    <td>273.32</td>
                                </tr>
                                <tr>
                                    <td>Product Name2</td>
                                    <td>5683.02</td>
                                    <td>464.900</td>
                                    <td>5683.02</td>
                                    <td>42</td>
                                    <td>1400</td>
                                    <td>5683.02</td>
                                    <td>464.900</td>
                                </tr>
                                <tr>
                                    <td>Product Name3</td>
                                    <td>1.34</td>
                                    <td>2.45</td>
                                    <td>1.34</td>
                                    <td>322</td>
                                    <td>1100</td>
                                    <td>1.34</td>
                                    <td>2.45</td>
                                </tr>
                                <tr>
                                    <td>Product Name4</td>
                                    <td>278.88</td>
                                    <td>234.56</td>
                                    <td>278.88</td>
                                    <td>250</td>
                                    <td>1000</td>
                                    <td>278.88</td>
                                    <td>234.56</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

